{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Ваш кошик товарів
{% endblock %}

{% block content %}
<!-- ================================================= BREADCRUMB ================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
				<li class='active'>Ваш кошик товарів</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- ============================================= BREADCRUMB : END ================================================ -->
<!-- ================================================ CARD DETAIL ================================================== -->
<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row ">
			<div class="shopping-cart">
<div class="shopping-cart-table ">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="cart-romove item">Видалити</th>
					<th class="cart-description item">Зображення</th>
					<th class="cart-product-name item">Назва продукту</th>
					<th class="cart-qty item">Кількість</th>
					<th class="cart-sub-total item">Ціна за 1 товару</th>
					<th class="cart-total last-item">Сумарна ціна</th>
				</tr>
			</thead><!-- /thead -->
			<tfoot>
				<tr>
					<td colspan="7">
						<div class="shopping-cart-btn">
							<span class="">
								<a href="{% url "shop:ProductList"%}" class="btn btn-upper btn-primary outer-left-xs">Продовжити покупки</a>
{#								<a href="#" class="btn btn-upper btn-primary pull-right outer-right-xs">Update shopping cart</a>#}
							</span>
						</div><!-- /.shopping-cart-btn -->
					</td>
				</tr>
			</tfoot>
			<tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                    <tr>
                        <td class="romove-item"><a href="{% url "cart:CartRemove" product.id %}" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
                        <td class="cart-image">
                            <a class="entry-thumbnail" href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" alt="" />
                            </a>
                        </td>
                        <td class="cart-product-name-info">
                            <h4 class='cart-product-description'><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- rating stars -->
                                    {% if product.avg_review == None %}
                                            <span class="stars-avg stars0"></span>
                                        {% else %}
                                        <span class="stars-avg stars{{product.avg_review|floatformat:"0"}}"></span>
                                    {%endif%}
                                    <!-- rating stars : end -->
                                </div>
                                <div class="col-sm-8">
                                </div>
                            </div><!-- /.row -->
                            <div class="cart-product-info">
                                <span class="product-color">{{ product. }}<span>Blue</span></span>
                            </div>
                        </td>
                        <td>
                          <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            {% csrf_token %}
                            <input type="submit" value="Оновити">
                          </form>
                        </td>

                        <td class="cart-product-sub-total"><span class="cart-sub-total-price">{{ item.price }} грн.</span></td>
                        <td class="cart-product-grand-total"><span class="cart-grand-total-price">{{ item.total_price }} грн.</span></td>
                    </tr>
                    {% endwith %}
                {% endfor %}
			</tbody><!-- /tbody -->
		</table><!-- /table -->
	</div>
</div><!-- /.shopping-cart-table -->

<!---------------------------------------------COUPONS APPLY FORM------------------------------------------------------>
{#  <p>Застосувати купон</p>#}
{#  <form action="{% url "cupon:apply" %}" method="post" class="add">#}
{#    {% csrf_token %}#}
{#    {{ cupon_apply_form }}#}
{#    <input type="submit" value="Оновити">#}
{#  </form>#}
<!---------------------------------------------COUPONS APPLY FORM : END------------------------------------------------>

<div class="col-md-6 col-sm-12 estimate-ship-tax">
	<table class="table">
		<thead>
			<tr>
				<th>
					<span class="estimate-title">Код купона</span>
					<p>Будь ласка, введіть свій купон, а потім натисніть "Застосувати"..</p>
				</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>
                        <form action="{% url "cupon:apply" %}" method="post" class="add">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ cupon_apply_form.code }}
                            </div>
                            <div class="clearfix pull-right">
                                <input type="submit" class="btn-upper btn btn-primary" value="Застосувати">
                            </div>
                        </form>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
</div><!-- /.estimate-ship-tax -->



<!---------------------------------------------SUMARY  : END------------------------------------------------>
<div class="col-md-6 col-sm-12 cart-shopping-total">
	<table class="table">
		<thead>
			<tr>
				<th>
                    {% if cart.cupon %}
                        <div class="cart-sub-total">
						    Вартість без знижки<span class="inner-left-md">{{ cart.get_total_price }}</span>
					    </div>
                        <div class="cart-sub-total">
                              "{{ cart.cupon.code }}" купон на ({{ cart.cupon.discount }} % нижще) : - {{ cart.get_discount|floatformat:"2" }} грн.
                        </div>
                    {% endif %}

					<div class="cart-grand-total">
						Загальна сума :<span class="inner-left-md">{{ cart.get_total_price_after_discount|floatformat:"2" }} грн.</span>
					</div>
				</th>
			</tr>
		</thead><!-- /thead -->
		<tbody>
				<tr>
					<td>
						<div class="cart-checkout-btn pull-right">
                            <a href="{% url "orders:OrderCreate" %}" class="btn btn-primary checkout-btn">Оформити замовлення</a>
{#							<span class="">Checkout with multiples address!</span>#}
						</div>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
</div><!-- /.cart-shopping-total -->
            </div><!-- /.shopping-cart -->
		</div> <!-- /.row -->
    </div>  <!-- /.container -->
</div>  <!-- /.body-content outer-top-xs -->

<!-- =============================================== CARD DETAIL : END ================================================== -->

{% endblock %}
