{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Бренди
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
        <li class='active'>Бренди</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<!-- ==================================================== CONTENT ================================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
<!-- ============================================== BRANDS CAROUSEL ============================================== -->
    <h3 style="color: #434a54; margin-top: 7px;"><b>ПОПУЛЯРНІ</b></h3>
    <hr style="margin-top: 5px; border: 1px solid #eee;">
    <div id="brands-carousel" class="logo-slider wow fadeInUp">
      <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
          {% if brands_popular %}
            {% for brand_popular in brands_popular %}
                <div class="item m-t-15 text-center">
                    <a href="{{ brand_popular.get_absolute_url }}" class="image" >
                        <img style="background-size:150px;width: 150px;" data-echo="{% if brand_popular.image %}{{ brand_popular.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">
                    </a>
                    <a href="{{ brand_popular.get_absolute_url }}">
                        {{ brand_popular.name }}
                    </a>
                </div>
            {% endfor %}
          {% endif %}
        </div><!-- /.owl-carousel #logo-slider -->
      </div><!-- /.logo-slider-inner -->
    </div><!-- /.logo-slider -->


    <div class="brands col-md-12 ">
      <div class="row">
        <h3 style="color: #434a54; margin-top: 7px;"><b>ВCI</b></h3>
        <hr style="margin-top: 5px; border: 1px solid #eee;">
        <div class="table-responsive">
            {% if brands %}
                {% for brand in brands %}
                <div class="brand col-md-2 text-center">
                    <a href="{{ brand.get_absolute_url }}" class="image" >
                        <img style="background-size:150px;width: 150px;border:black; " data-echo="{% if brand.image %}{{ brand.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">
                    </a>
                    <a href="{{ brand.get_absolute_url }}">
                        {{ brand.name }}
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
      </div><!-- /.row -->
      <br><br>
    </div>
    <div>
{#        {% if brands %}#}
{#            {% for brand in brands %}#}
{#                {{ brand.products.all }}#}
{#            {% endfor %}#}
{#        {% endif %}#}
    </div>
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
  </div><!-- /.container -->
<br><br><br><br><br><br>
</div><!-- /#top-banner-and-menu -->

{% endblock %}


<!-- ============================================== BRANDS CAROUSEL ============================================== -->
{#<div class="body-content outer-top-xs" id="top-banner-and-menu">#}
{#  <div class="container">  #}
{#    <div id="brands-carousel" class="logo-slider wow fadeInUp">#}
{#      <div class="logo-slider-inner">#}
{#        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">#}
{#          {% if brands %}#}
{#            {% for brand in brands %}#}
{#                <div class="item m-t-15 text-center">#}
{#                    <a href="#" class="image" >#}
{#                        <img style="background-size:150px;width: 150px;" data-echo="{% if brand.image %}{{ brand.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">#}
{#                    </a>#}
{#                    <a href="#">#}
{#                        {{ brand.name }}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        </div><!-- /.owl-carousel #logo-slider -->#}
{#      </div><!-- /.logo-slider-inner -->#}
{#    </div><!-- /.logo-slider -->#}
{#  </div><!-- /.container -->#}
{#<br><br><br><br><br><br>#}
{#</div><!-- /#top-banner-and-menu -->#}
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->