{% extends "shop/base.html" %}

{% block title %}
  Дякуєм за замовлення
{% endblock %}

{% block content %}
  <h1>Дякуєм за замовлення!</h1>
  <p>Номер вашого замовлення: {{ order.id }}</p>
{% endblock %}
