{% extends "shop/base.html" %}

{% block title %}
  Сторення замовлення
{% endblock %}

{% block content %}

<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
                <li><a href="{% url 'cart:CartDetail' %}">Кошик</a></li>
				<li class='active'>Створення замовлення</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<div class="body-content">
    <section id="content row" class="container">



    <div class="col-md-12 col-sm-12" style="background: whitesmoke;">
        <div class="text-center">
            <h3 class="">Створення замовлення</h3>
            <p class="">Шановний клієнте, будь ласка, оформіть ваше замовлення</p>
            <hr>
        </div>

        <div class="col-md-6">
                <h4 class="text-center">Заповніть, будь ласка, форму</h4><br>
                <form class="order-form" action="." method="post">
                    {% if form.non_field_errors %}
                        <div class="col-md-12 bg-danger text-white text-center" style="border-radius: 5px;">
                        <br>{{ form.non_field_errors }}<br>
                        </div><div class="col-md-12"><br></div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="info-title" for="exampleInputFirstName">Ім'я <span>*</span></label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputLastName">Прізвище <span>*</span></label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputLastName">Ваша електрона адреса (email) <span>*</span></label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputFirstName">Адреса <span>*</span></label>
                        {{ form.address }}
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputLastName">Поштовий індекс <span>*</span></label>
                        {{ form.postal_code }}
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputLastName">Місто <span>*</span></label>
                        {{ form.city }}
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Надіслати</button>
                    </div><br><br>
                </form>
        </div>

        <div class="col-md-6" style="background: #97db97;border-radius: 13em 0.5em/1em 0.5em; color: #424242">
            <div class="order-info" >
                <h4 class="text-center">Ваше замовлення</h4><br>
                <table class="col-md-12" border="0">
                 <tbody>
                    <tr>
                      <th>Назва</th>
                      <th>Кількість</th>
                      <th>Ціна</th>
                    </tr>

                    {% for item in cart  %}
                        <tr>
                          <td>{{ item.product.name }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.total_price }}</td>
                        </tr>
                    {% endfor %}
                    {% if cart.cupon %}
                        <tr class="empty_row" style="height: 10px !important;">
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <th>Код купона</th>
                            <th>Знижка</th>
                            <th>Економія</th>
                        </tr>
                        <tr>
                          <td>{{ cart.cupon.code }}</td>
                          <td>(на {{ cart.cupon.discount }}% менше)</td>
                          <td>- {{ cart.get_discount|floatformat:"2"}} грн.</td>
                        </tr>
                    {% endif %}
                  </tbody>
                </table>
            <div class="row">
            <div class="col-md-12" style=" border-radius: 13em 0.5em/1em 0.5em;">
                <hr>
                <h4><p><strong>Всього:</strong> {{ cart.get_total_price_after_discount|floatformat:"2"}} грн.</p></h4>
            </div>
            </div>


            </div>
        </div>
    </div>
    </section>
</div><br><br>

{% endblock %}
