{# Шаблон для PDF файла. Головний шаблон(базовий) #}
{# Шаблон відображає основну інформацію про покупця і про товари,повідомлення,#}
{# яке повідомляє чи було оплачено замовлення чи очікує оплати #}
<html>
  <body>
    <h1>Онлайн магазин Master</h1>
    <p>
      Номер замовлення: <b>{{ order.id }}</b> <br>
      <span class="secondary">
        {{ order.created }}
      </span>
    </p>
    <h3>Покупець</h3>
    <p>
      {{ order.first_name }} {{ order.last_name }}<br>
      {{ order.email }} <br>
      {{ order.address }} <br>
      {{ order.postal_code }}, {{ order.city }}
    </p>
    <h3>Замовленні товари</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Товар</th>
          <th>Вартість</th>
          <th>Кількість</th>
          <th>Всього</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.items.all %}
          <tr class="row{% cycle "1" "2" %}">
            <td>{{ item.product.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_cost }}</td>
          </tr>
        {% endfor %}
        <tr class="total">
          <td colspan="3">Всього:</td>
          <td class="num">{{ order.get_total_cost }}</td>
        </tr>
      </tbody>
    </table>
    <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
      {% if order.paid %}Оплачено{% else %}Чекає на оплату{% endif %}
    </span>
  </body>
</html>
