{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Реєстрація
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
				<li class='active'>Реєстрація</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">
				<!-- ==================================== REGISTRATION ==============================================-->
                <!-- create a new account -->
                <div class="col-md-6 col-sm-6 sign-in col-md-offset-3" style="background: whitesmoke;">
                    <div class="text-center">
                        <h4 class="">Реєстрація користувача</h4>
                        <p class="">Доброго дня, зареєструйте, будь ласка, ваш акаунт</p>
                    </div>
                    <div class="col-md-12">
                        <form action="" method="POST" class="register-form outer-top-xs">
                            {% if form.non_field_errors %}
                                <div class="col-md-12 bg-danger text-white text-center" style="border-radius: 5px;">
                                <br>{{ form.non_field_errors }}<br>
                                </div><div class="col-md-12"><br></div>
                            {% endif %}

                            {% csrf_token %}
                            <div class="form-group">
                                <label class="info-title" for="exampleInputLogin1">Логін <span>*</span></label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputPassword1">Пароль <span>*</span></label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputPassword2">Повторіть пароль <span>*</span></label>
                                {{ form.password_check }}
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputFirstName">Ім'я <span>*</span></label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputLastName">Прізвище <span>*</span></label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputLastName">Ваша електрона адреса (email) <span>*</span></label>
                                {{ form.email }}
                            </div>
                            <div class="radio outer-xs">
                                <a href="{% url 'auth:LoginUser' %}" class="forgot-password pull-right">Ви вже зареєстровані?</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Зареєструватися</button>
                            </div>
                            <br><br>
                        </form>
                    </div>
                </div>
                <!-- ==================================== REGISTRATION : END ========================================-->
            </div><!-- /.row -->
		</div><!-- /.sigin-in-->
    </div><!-- /.container -->
<br><br><br>
</div>
{% endblock %}

{#<div class="container">#}
{#    <h3 class="text-center">Реєстрація нового користувача</h3>#}
{#    <hr>#}
{#    <form action="" method="POST">#}
{#        {{ form.as_p }}#}
{#        {% csrf_token %}#}
{#        <input type="submit" value="Зареєструватися">#}
{#    </form>#}
{#</div>#}
