{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Результат пошуку
{% endblock %}

{% block content %}
<!-- ================================================= BREADCRUMB ================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
				<li class='active'>Результат пошуку</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- ============================================= BREADCRUMB : END ================================================ -->
<!-- =========================================== SEARCH RESULTS LIST =============================================== -->
<div class="body-content outer-top-xs">
	<div class="container">
        <div class="col-md-12">
            <row>
                <h5 style="color: #9e9e9e;font-size: 20px;">Результат пошуку за запитом: "{% if query %}{{ query }}{% endif %}"</h5>
            </row>
        </div><br><div class="col-md-12 text-center "></div>
<!-- =========================================== SECTION – PRODUCTS ================================================ -->
        <div class="clearfix filters-container m-t-10" style="margin-top: 47px!important;">
          <div class="row">

            <div class="col col-sm-6 col-md-3">
              <div class="filter-tabs">
                <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                  <li class="active"> <a data-toggle="tab" href="#grid-container"><i class="icon fa fa-th-large"></i>Плитка</a> </li>
                  <li><a data-toggle="tab" href="#list-container"><i class="icon fa fa-th-list"></i>Список</a></li>
                </ul>
              </div><!-- /.filter-tabs -->
            </div><!-- /.col -->

            <div class="col col-sm-12 col-md-6">

              <div class="col col-sm-3 col-md-6 no-padding">
                <div class="lbl-cnt"> <span class="lbl">Sort by</span>
                  <div class="fld inline">
                    <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                      <button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
                          Position <span class="caret"></span>
                      </button>
                      <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#">position</a></li>
                        <li role="presentation"><a href="#">Price:Lowest first</a></li>
                        <li role="presentation"><a href="#">Price:HIghest first</a></li>
                        <li role="presentation"><a href="#">Product Name:A to Z</a></li>
                      </ul>
                    </div>
                  </div><!-- /.fld -->
                </div><!-- /.lbl-cnt -->
              </div><!-- /.col -->

              <div class="col col-sm-3 col-md-6 no-padding">
                <div class="lbl-cnt"> <span class="lbl">Show</span>
                  <div class="fld inline">
                    <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                      <button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
                          1 <span class="caret"></span>
                      </button>
                      <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#">1</a></li>
                        <li role="presentation"><a href="#">2</a></li>
                        <li role="presentation"><a href="#">3</a></li>
                        <li role="presentation"><a href="#">4</a></li>
                        <li role="presentation"><a href="#">5</a></li>
                        <li role="presentation"><a href="#">6</a></li>
                        <li role="presentation"><a href="#">7</a></li>
                        <li role="presentation"><a href="#">8</a></li>
                        <li role="presentation"><a href="#">9</a></li>
                        <li role="presentation"><a href="#">10</a></li>
                      </ul>
                    </div>
                  </div><!-- /.fld -->
                </div><!-- /.lbl-cnt -->
              </div><!-- /.col -->
            </div><!-- /.col -->

            <div class="col col-sm-6 col-md-3 text-right">
              <div class="pagination-container">
                <ul class="list-inline list-unstyled">
                  {% if results_search.has_other_pages %}
                        {% if results_search.has_previous %}
                          <li class="prev">
                              <a href="?page={{ results_search.previous_page_number }}">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                          </li>
                        {% else %}
                          <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}
                        {% for i in results_search.paginator.page_range %}
                          {% if results_search.number == i %}
                            <li class="active"><a>{{ i }}</a><span class="sr-only">(current)</span></li>
                          {% else %}
                            <li><a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if results_search.has_next %}
                          <li class="next">
                              <a href="?page={{ results_search.next_page_number }}">
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </li>
                        {% else %}
                          <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}
                  {% else %}
                        <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a>1</a></li>
                        <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                  {% endif %}
                </ul><!-- /.list-inline -->
              </div><!-- /.pagination-container -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div>

        <!-- ---------------- Products Container ------------------ -->
        <div class="search-result-container ">
          <div id="myTabContent" class="tab-content category-list">
            <!-- ------------  Container Puzzle Products  --------------- -->
            <div class="tab-pane active " id="grid-container">
              <div class="category-product">
                <div class="row">
                <!-- ---------------- 1-st product in container  ------------------ -->
                  {% if results_search %}
                    {% for result in results_search %}
                          <div class="col-sm-6 col-md-3 wow fadeInUp">
                            <div class="products">
                              <div class="product">
                                <div class="product-image">
                                  <div class="image">
                                      <a href="{{ result.get_absolute_url }}">
                                          <img  src="{% if result.image %}{{ result.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                                      </a>
                                  </div><!-- /.image -->

                                  <!-- tag_status -->
                                  {% if result.tag_status %}
                                    <div class="tag {{ result.tag_status }}"><span>{{ result.tag_status }}</span></div>
                                  {% endif %}
                                  <!-- tag_status : end -->

                                </div><!-- /.product-image -->

                                <div class="product-info text-left">
                                  <h3 class="name"><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></h3>

                                    <!-- rating stars -->
                                    {% if result.avg_review == None %}
                                            <span class="stars-avg stars0"></span>
                                        {% else %}
                                        <span class="stars-avg stars{{result.avg_review|floatformat:"0"}}"></span>
                                    {%endif%}
                                    <!-- rating stars : end -->

                                  <div class="description"></div>
                                  <div class="product-price">
                                      <span class="price"> {{ result.price }} грн. </span>
                                      <span class="price-before-discount">$ 800</span>
                                  </div><!-- /.product-price -->
                                </div><!-- /.product-info -->

                                <div class="cart clearfix animate-effect">
                                  <div class="action">
                                    <ul class="list-unstyled">
                                        <li>
                                            <form action="{% url "cart:CartAdd" result.id %}" method="post" class="add">
                                                {% csrf_token %}
                                                    <div class="hidden" > {#style="display:none;"#}
                                                      {{ cart_product_form.quantity }}
                                                    </div>
                                                <span class="add-cart-button btn-group">
                                                  <button class="btn btn-primary icon" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                                </span>
                                            </form>
                                        </li>

                                        {% if not request.user.is_authenticated %}
                                        <li class="dropdown dropdown-small lnk wishlist" title="Увійдіть, щоб додати">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" style="cursor: not-allowed; /*  курсор в виде стрелки */">
                                                <span class="value">
                                                    <i class="icon fa fa-heart"></i>
                                                </span>
                                            </a>
                                          <ul class="dropdown-menu text-center" style="background: black">
                                            <li class="col-md-12 text-center" style="padding: 0px !important;margin: 0px!important;">
                                                <p style="margin: 0px!important;"><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                                <p style="color: gainsboro; margin: 0px!important;">або</p>
                                                <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                                            </li>
                                          </ul>
                                        </li>
                                        {% else %}
                                        <li class="lnk wishlist">
                                            <a class="add-to-cart" href="{% url "wishlist:WishListAdd" result.id %}" title="Wishlist">
                                              <i class="icon fa fa-heart"></i>
                                            </a>
                                        </li>
                                        {% endif %}

                                        <li class="lnk">
                                          <a class="add-to-cart" href="detail.html" title="Compare">
                                              <i class="fa fa-signal"></i>
                                          </a>
                                        </li>
                                    </ul>
                                  </div><!-- /.action -->
                                </div><!-- /.cart -->
                              </div><!-- /.product -->
                            </div><!-- /.products -->
                          </div><!-- /.item -->
                      {% endfor %}
                  {% else %}
                    <div class="col-md-12 text-center text-danger">
                        <p><h4>За даним запитом нічого не знайдено</h4></p>
                        <p><h4>Будь ласка, спробуйте ще раз</h4></p>
                    </div>
                  {% endif %}
                <!-- -------------- 1-st product in container : end ---------------- -->
                </div><!-- /.row -->
              </div><!-- /.category-product -->
            </div><!-- /.tab-pane -->
            <!-- ----------  Container Puzzle Products : end  ------------- -->

            <!-- --------------  Container List Products  ----------------- -->
            <div class="tab-pane "  id="list-container">
              <div class="category-product">
                <!-- ---------------- 1-st product in container  ------------------ -->
                  {% if results_search %}
                    {% for result in results_search %}
                        <div class="category-product-inner wow fadeInUp">
                          <div class="products">
                            <div class="product-list product">
                              <div class="row product-list-row">
                                <div class="col col-sm-3 col-lg-3">
                                  <div class="product-image">
                                    <div class="image">
                                        <a href="{{ result.get_absolute_url }}">
                                          <img  src="{% if result.image %}{{ result.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                                        </a>
                                    </div>
                                  </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-sm-8 col-lg-8">
                                  <div class="product-info">
                                    <h3 class="name"><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></h3>

                                    <!-- rating stars -->
                                    {% if result.avg_review == None %}
                                            <span class="stars-avg stars0"></span>
                                        {% else %}
                                        <span class="stars-avg stars{{result.avg_review|floatformat:"0"}}"></span>
                                    {%endif%}
                                    <!-- rating stars : end -->

                                    <div class="product-price">
                                        <span class="price"> {{ result.price }} грн. </span>
                                        <span class="price-before-discount">$ 800</span>
                                    </div><!-- /.product-price -->
                                    <div class="description m-t-10">Suspendisse posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida eget, lacinia id purus. Suspendisse posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida eget.</div>
                                    <div class="cart clearfix animate-effect">
                                      <div class="action">
                                        <ul class="list-unstyled">
                                            <li>
                                            <form action="{% url "cart:CartAdd" result.id %}" method="post" class="add">
                                                {% csrf_token %}
                                                    <div class="hidden" > {#style="display:none;"#}
                                                      {{ cart_product_form.quantity }}
                                                    </div>
                                                <span class="add-cart-button btn-group">
                                                  <button class="btn btn-primary icon" data-toggle="dropdown" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                                  <button class="btn btn-primary cart-btn" type="submit">Додати в корзину</button>
                                                </span>
                                            </form>
                                            </li>

                                          {% if not request.user.is_authenticated %}
                                              <li class="dropdown dropdown-small lnk wishlist" title="Увійдіть, щоб додати">
                                                  <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" style="cursor: not-allowed; /*  курсор в виде стрелки */">
                                                      <span class="value">
                                                          <i class="icon fa fa-heart"></i>
                                                      </span>
                                                  </a>
                                                <ul class="dropdown-menu text-center" style="background: black">
                                                  <li class="col-md-12 text-center" style="padding: 0px !important;margin: 0px!important;">
                                                      <p style="margin: 0px!important;"><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                                      <p style="color: gainsboro; margin: 0px!important;">або</p>
                                                      <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                                                  </li>
                                                </ul>
                                              </li>
                                          {% else %}
                                              <li class="lnk wishlist"> <a class="add-to-cart" href="{% url 'wishlist:WishListAdd' result.id %}" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                          {% endif %}

                                          <li class="lnk"> <a class="add-to-cart" href="detail.html" title="Compare"> <i class="fa fa-signal"></i> </a> </li>
                                        </ul>
                                      </div><!-- /.action -->
                                    </div><!-- /.cart -->

                                  </div><!-- /.product-info -->
                                </div><!-- /.col -->
                              </div><!-- /.product-list-row -->

                                <!-- tag_status -->
                                {% if result.tag_status %}
                                      <div class="tag {{ result.tag_status }}"><span>{{ result.tag_status }}</span></div>
                                {% endif %}
                                <!-- tag_status : end -->

                            </div><!-- /.product-list -->
                          </div><!-- /.products -->
                        </div><!-- /.category-product-inner -->
                    {% endfor %}
                  {% else %}

                    <div class="col-md-12 text-center text-danger">
                        <p><h4>За даним запитом нічого не знайдено</h4></p>
                        <p><h4>Будь ласка, спробуйте ще раз</h4></p>
                    </div><br><br><br><br>
                  {% endif %}
                <!-- -------------- 1-st product in container : end ---------------- -->
              </div><!-- /.category-product -->
            </div><!-- /.tab-pane #list-container -->
          <!-- -----------  Container List Products : end --------------- -->

          </div><!-- /.tab-content -->
          <!-- ----------- Pagination Products Container ---------------- -->
          <div class="clearfix filters-container">
            <div class="text-right">
              <div class="pagination-container">
                <ul class="list-inline list-unstyled">
                    {% if results_search.has_other_pages %}
                        {% if results_search.has_previous %}
                          <li class="prev">
                              <a href="?page={{ results_search.previous_page_number }}">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                          </li>
                        {% else %}
                          <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}
                        {% for i in results_search.paginator.page_range %}
                          {% if results_search.number == i %}
                            <li class="active"><a>{{ i }}</a><span class="sr-only">(current)</span></li>
                          {% else %}
                            <li><a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if results_search.has_next %}
                          <li class="next">
                              <a href="?page={{ results_search.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                          </li>
                        {% else %}
                          <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}
                    {% else %}
                        <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a>1</a></li>
                        <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul><!-- /.list-inline -->
              </div><!-- /.pagination-container -->
            </div><!-- /.text-right -->
          </div><!-- /.filters-container -->
        <!-- -------- Pagination Products Container : end ---------- -->
        </div><!-- /.search-result-container -->
      <!-- ----------- Products Container : end ---------------- -->
      </div><!-- /.col -->
<!-- ======================================= RIGHT SIDE CONTENT : END  ============================================= -->
    </div>  <!-- /.container -->
<br><br><br>
</div>  <!-- /.body-content outer-top-xs -->
<!-- ======================================== SEARCH RESULTS LIST : END ============================================ -->

{% endblock %}
