{% extends "shop/base.html" %}

{% load static %}

{% block title %}
  {% if poster.name %}{{ poster.name }}{% endif %}
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url "shop:ProductList" %}">Головна</a></li>
{#				<li><a href="{{ product.category.get_absolute_url }}"><span>{% if product.name %} {{ product.category }}{% endif %}</span></a></li>#}
				<li class='active'>{% if poster.name %}{{ poster.name }}{% endif %}</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<!-- =============================================== CONTENT ======================================================= -->
<div class="body-content outer-top-xs">
	<div class='container'>
<!-- ======================================= SECTION – HERO(MAIN PICTURE) ========================================== -->
        <div id="category" class="category-carousel hidden-xs">
          <div class="item">
            <div class="image">
                <img src="{% if poster.image %}{{ poster.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="" class="img-responsive" width="1140" height="400">
            </div>
          </div>
        </div>
    <div class="info">
        {% if poster %}
            <p><h3>{{ poster.poster_title1 }} </h3></p><br>
            <p><h4>Деталі: </h4></p>
            <p>{{ poster.poster_context1 }}</p>
            <br><br>
        {% else %}
            <p><h3 class="text-danger">Вибачте, але даної афіши не існує, або вона не доступна у даний час! </h3></p>
        {% endif %}
    </div>
<!-- =================================== SECTION – HERO(MAIN PICTURE) : END ======================================== -->
<!-- ================================================ UPSELL PRODUCTS ============================================== -->
<section class="section featured-product wow fadeInUp" style="margin-bottom: 0px;">
	<h3 class="section-title">Товари що діють в акції</h3>
    {% if products_poster %}
	<div class="owl-carousel home-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs">
        {% for product_poster in products_poster %}
          <div class="item item-carousel">
            <div class="products">
              <div class="product">
            <!-- Картинка товару -->
                <div class="product-image">
                  <div class="image">
                      <a href="{{ product_poster.get_absolute_url }}">
                        <img src="{% if product_poster.image %}{{ product_poster.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %} " alt="" height="262" width="262">
                      </a>
                  </div><!-- /.image -->
                  <!-- tag_status -->
                      {% if product_poster.tag_status %}
                        <div class="tag {{ product_poster.tag_status }}"><span>{{ product_poster.tag_status }}</span></div>
                      {% endif %}
                  <!-- tag_status : end -->
                </div><!-- /.product-image -->

              <!-- Інформація про товар(назва, ціна і т далі) -->
                <div class="product-info text-left">
                  <h3 class="name" style="margin-bottom: 0px;" >
                      <a href="{{ product_poster.get_absolute_url }}">{{ product_poster.name }}</a></h3>

                    <!-- rating stars -->
                    {% if product_poster.avg_review == None %}
                            <span class="stars-avg stars0"></span>
                        {% else %}
                        <span class="stars-avg stars{{product_poster.avg_review|floatformat:"0"}}"></span>
                    {%endif%}
                    <!-- rating stars : end -->

                  <div class="description"></div>
                  <div class="product-price">
                      <span class="price"> {{ product_poster.price }} грн. </span>
                      <span class="price-before-discount">$ 800</span>
                  </div><!-- /.product-price -->
                </div><!-- /.product-info -->

            <!-- Анімація при наведені (доати до корзини,додоти в улюблений список,порівняти) -->
                <div class="cart clearfix animate-effect">
                  <div class="action">
                    <ul class="list-unstyled">
                        <li>
                            <form action="{% url "cart:CartAdd" product_poster.id %}" method="post" class="add">
                                {% csrf_token %}
                                    <div class="hidden" > {#style="display:none;"#}
                                      {{ cart_product_form.quantity }}
                                    </div>
                                <span class="add-cart-button btn-group">
                                  <button class="btn btn-primary icon" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                </span>
                            </form>
                        </li>

                        {% if not request.user.is_authenticated %}
                        <li class="dropdown dropdown-small lnk wishlist" title="Увійдіть, щоб додати">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" style="cursor: not-allowed; /*  курсор в виде стрелки */">
                                <span class="value">
                                    <i class="icon fa fa-heart"></i>
                                </span>
                            </a>
                          <ul class="dropdown-menu text-center" style="background: black">
                            <li class="col-md-12 text-center" style="padding: 0px !important;margin: 0px!important;">
                                <p style="margin: 0px!important;"><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                <p style="color: gainsboro; margin: 0px!important;">або</p>
                                <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                            </li>
                          </ul>
                        </li>
                        {% else %}
                        <li class="lnk wishlist">
                            <a class="add-to-cart" href="{% url "wishlist:WishListAdd" product_poster.id %}" title="Wishlist">
                              <i class="icon fa fa-heart"></i>
                            </a>
                        </li>
                        {% endif %}

                        <li class="lnk">
                          <a class="add-to-cart" href="#" title="Compare">
                              <i class="fa fa-signal"></i>
                          </a>
                        </li>
                    </ul>
                  </div><!-- /.action -->
                </div><!-- /.cart -->
              </div><!-- /.product -->
            </div><!-- /.products -->
          </div><!-- /.item -->
        {% endfor %}
    </div><!-- /.home-owl-carousel -->
    {% else %}
            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="1">
                <div class="item item-carousel">
                    <div class="products" style="text-align: center;">
                        <div class="product">
                        <h3>Вибачте, але товари в даний час не доступні!</h3><br><br>
                        </div>
                    </div>
                </div>
    {% endif %}
</section><!-- /.section -->
<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
    <a class="col-md-12 btn btn-primary cart-btn" type="button" href="{{ poster.get_absolute_url }}">
        <span><h4>Показати всі <i class="fa fa-arrow-down" aria-hidden="true" style="padding-left: 3px;"> </i></h4></span>
    </a>
</div>
<!-- ============================================== UPSELL PRODUCTS : END ============================================== -->
<br><br><br>
<div class="clearfix"></div>
<br><br><br>
<!-- ================================================ BRANDS CAROUSEL ============================================== -->
<hr style="margin-top: 5px; border: 1px solid #eee;">
<div id="brands-carousel" class="logo-slider wow fadeInUp">
  <div class="logo-slider-inner">
    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
      {% if brands_popular %}
        {% for brand_popular in brands_popular %}
            <div class="item m-t-15 text-center">
                <a href="{{ brand_popular.get_absolute_url }}" class="image" >
                    <img style="background-size:150px;width: 150px;" data-echo="{% if brand_popular.image %}{{ brand_popular.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">
                </a>
                <a href="{{ brand_popular.get_absolute_url }}">
                    {{ brand_popular.name }}
                </a>
            </div>
        {% endfor %}
      {% endif %}
    </div><!-- /.owl-carousel #logo-slider -->
  </div><!-- /.logo-slider-inner -->
</div><!-- /.logo-slider -->
<!-- ============================================= BRANDS CAROUSEL : END =========================================== -->
    </div><!-- /.container -->
</div><!-- /.body-content -->
<!-- =========================================== CONTENT : END ===================================================== -->
{% endblock %}
