{% extends "shop/base.html" %}

{% block title %}Оплата відмінена{% endblock %}

{% block content %}
     <div class="container text-center">
    <br><br><br><br><br><br>
  <h1>Оплата відмінена</h1>
  <p>Виникли проблеми з оплатою!</p>
     <br><br><br><br><br><br>
    </div>
{% endblock %}
