{% extends "shop/base.html" %}

{% block title %}Успішно оплачено{% endblock %}

{% block content %}
    <div class="container text-center">
    <br><br><br><br><br><br>
  <b><h1>Успішно оплачено</h1></b>
        <p><b><h3>Дякуємо за купівлю!</h3></b></p>
    <br><br><br><br><br><br>
    </div>
{% endblock %}
