{% extends "shop/base.html" %}

{% block title %}Оплата PayPal{% endblock %}

{% block content %}
    <div class="container">

        <div class="text-center">
            <br><br><br><br>
            <h1>Оплата PayPal</h1>
            {{ form.render }}
            <br><br><br><br>
        </div>
    </div>

{% endblock %}
