{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Profile Edit
{% endblock %}

{% block content %}
    <div class="container">
    <h3 class="text-center">Сторінка редагування профілю</h3>
        <hr>
        <div class="col-md-6 col-md-offset-3" style="background: whitesmoke;">
            <br>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <br><br>
              <div class="text-center">
                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Зберегти зміни</button>
              </div>
            </form>
            <br>
        </div>
    <br><br>
    </div><!--/.container-->
    <br><br>
{% endblock %}