{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
<!-- ================================================= BREADCRUMB ================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
				<li class='active'>Кабінет користувача</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- ============================================= BREADCRUMB : END ================================================ -->
<div class="container">
  <div class="row">
<!-- =============================================== LEFT NAVIGATION =============================================== -->
    <nav class="col-sm-2" style="background: #f2f2f2; border-radius: 5px;"><!--nav-->
      <div class="row">
      <br>
        <!-- ---------- Avatar ----------- -->
          {% if request.user.profile.user_avatar %}
          <div class="col-sm-12">
            <div class="post">
                <a href="{{ request.user.profile.user_avatar.url }}" class="thumbnail">
                    <img src="{{ request.user.profile.user_avatar.url }}" alt="avatar" />
                </a>
            </div>
          </div><!--/avatar-->
          {% else %}
          <div class="col-sm-12">
            <div class="post"><a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a></div>
          </div><!--/avatar-->
          {% endif %}

        <br>
        <div class="col-sm-12" >
            <ul class="nav nav-pills nav-stacked">
                <li class=""><a href="{% url 'auth:ProfileUser' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Мій профіль</a></li>
                <li><a href="{% url 'auth:ProfileEdit' %}"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Редагувати</a></li>
                <li><a href="{% url 'wishlist:WishListView' %}"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;Мої бажаня</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Contact</a></li>
            </ul>
        </div>
      </div>
    <br><br>
    </nav><!--/nav-->
<!-- ========================================== LEFT NAVIGATION : END ============================================== -->
      <div class="col-sm-7">
        <div class="row">
          <div class="col-xs-12">
              <table class="table table-striped table-bordered" style="font-size: 15px;">
                  <tbody>
                  <tr>
                      <td colspan="2" style="padding-bottom: 10px;padding-top: 10px;"><h4><b>Особисті дані</b></h4></td>
                  </tr>

                  <tr>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">Логін:</td>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">{{ request.user.username }}</td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 10px;padding-top: 10px;">Ім'я:</td>
                      <td style="padding-bottom: 10px;padding-top: 10px;">{{ request.user.first_name }}</td>
                  </tr>
                  <tr>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">Прізвище:</td>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">{{ request.user.last_name }}</td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 10px;padding-top: 10px;">Електрона адреса:</td>
                      <td style="padding-bottom: 10px;padding-top: 10px;">{{ request.user.email }}</td>
                  </tr>
                  {% if request.user.profile %}
                  <tr>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">День народження:</td>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">{{ request.user.profile.user_birth_date }}</td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 10px;padding-top: 10px;">Мобільнтй телефон:</td>
                      <td style="padding-bottom: 10px;padding-top: 10px;">{{ request.user.profile.user_phone }}</td>
                  </tr>
                  <tr>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">Країна:</td>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">{{ request.user.profile.user_country }}</td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 10px;padding-top: 10px;">Місто:</td>
                      <td style="padding-bottom: 10px;padding-top: 10px;">{{ request.user.profile.user_city }}</td>
                  </tr>
                  <tr>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">Домашня адреса:</td>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">{{ request.user.profile.user_home_address }}</td>
                  </tr>
                  {% endif %}
                  <tr>
                      <td style="padding-bottom: 10px;padding-top: 10px;">Останій раз був у системі:</td>
                      <td style="padding-bottom: 10px;padding-top: 10px;">{{ request.user.last_login }}</td>
                  </tr>
                  <tr>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">Є персоналом:</td>
                      <td style="background: #f2f2f2; padding-bottom: 10px;padding-top: 10px;">
                          {% if request.user.is_staff == True %}
                              <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;
                          {% else %}
                              <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 10px;padding-top: 10px;">Є активним:</td>
                      <td style="padding-bottom: 10px;padding-top: 10px;">
                          {% if request.user.is_active == True %}
                              <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;
                          {% else %}
                              <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;
                          {% endif %}
                      </td>
                  </tr>
                  </tbody>
              </table>
          <br><br><br><br><br><br>
          </div>
        </div>
      </div>


      <div class="col-md-3">
               <!-- ============================================== HOT DEALS ============================================== -->
        <div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs">
          <h3 class="section-title">Гарячий розпродаж</h3>
          <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
          {% if hot_deals_products %}
              {% for hot_deals_product in hot_deals_products %}
                <div class="item">
                  <div class="products">
                    <div class="hot-deal-wrapper">
                      <div class="image">
                      <a href="{{ hot_deals_product.get_absolute_url }}">
                          <img src="{% if hot_deals_product.image %}{{ hot_deals_product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                      </a>
                      </div>
                      <div class="sale-offer-tag"><span>49%<br>
                        off</span></div>
                      <div class="timing-wrapper">
                        <div class="box-wrapper">
                          <div class="date box"> <span class="key">120</span> <span class="value">ДНІВ</span> </div>
                        </div>
                        <div class="box-wrapper">
                          <div class="hour box"> <span class="key">20</span> <span class="value">ГОДИН</span> </div>
                        </div>
                        <div class="box-wrapper">
                          <div class="minutes box"> <span class="key">36</span> <span class="value">ХВИЛИН</span> </div>
                        </div>
                        <div class="box-wrapper hidden-md">
                          <div class="seconds box"> <span class="key">60</span> <span class="value">СУКУНД</span> </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.hot-deal-wrapper -->

                    <div class="product-info text-left m-t-20">
                      <h3 class="name text-center"><a href="{{ hot_deals_product.get_absolute_url }}">{{ hot_deals_product.name }}</a></h3>
                      <!-- rating stars -->
                        {% if product.avg_review == None %}
                                <span class="stars-avg stars0"></span>
                            {% else %}
                            <span class="stars-avg stars{{product.avg_review|floatformat:"0"}}"></span>
                        {%endif%}
                        <!-- rating stars : end -->
                      <div class="product-price"> <span class="price">{{ hot_deals_product.price }} грн. </span>  </div>
                      <!-- /.product-price -->

                    </div>
                    <!-- /.product-info -->

                    <div class="cart clearfix animate-effect">
                      <div class="action">
                        <div class="add-cart-button btn-group">
                            <form action="{% url "cart:CartAdd" hot_deals_product.id %}" method="post" class="add">
                                {% csrf_token %}
                                    <div class="hidden" > {#style="display:none;"#}
                                      {{ cart_product_form.quantity }}
                                    </div>
                                <span class="add-cart-button btn-group">
                                  <button class="btn btn-primary icon" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                  <button class="btn btn-primary cart-btn" type="submit">Додати до кошика</button>
                                </span>
                            </form>
                        </div>
                      </div>
                      <!-- /.action -->
                    </div>
                    <!-- /.cart -->
                  </div>
                </div>
              {% endfor %}
          {% else %}
            <div class="item">
              <div class="products">
                <div class="hot-deal-wrapper">
                  <div class="image"> <img src="{% static "images/hot-deals/p25.jpg" %}" alt=""> </div>
                  <div class="sale-offer-tag"><span>49%<br>
                    off</span></div>
                  <div class="timing-wrapper">
                    <div class="box-wrapper">
                      <div class="date box"> <span class="key">120</span> <span class="value">ДНІВ</span> </div>
                    </div>
                    <div class="box-wrapper">
                      <div class="hour box"> <span class="key">20</span> <span class="value">ГОДИН</span> </div>
                    </div>
                    <div class="box-wrapper">
                      <div class="minutes box"> <span class="key">36</span> <span class="value">ХВИЛИН</span> </div>
                    </div>
                    <div class="box-wrapper hidden-md">
                      <div class="seconds box"> <span class="key">60</span> <span class="value">СУКУНД</span> </div>
                    </div>
                  </div>
                </div>
                <!-- /.hot-deal-wrapper -->

                <div class="product-info text-left m-t-20">
                  <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                  <div class="rating rateit-small"></div>
                  <div class="product-price"> <span class="price"> $600.00 </span> <span class="price-before-discount">$800.00</span> </div>
                  <!-- /.product-price -->

                </div>
                <!-- /.product-info -->

                <div class="cart clearfix animate-effect">
                  <div class="action">
                    <div class="add-cart-button btn-group">
                      <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                      <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                    </div>
                  </div>
                  <!-- /.action -->
                </div>
                <!-- /.cart -->
              </div>
            </div>
          {% endif %}

          </div>
          <!-- /.sidebar-widget -->
        </div>
<!-- ============================================== HOT DEALS: END ============================================== -->
      </div>


  </div><!--/.row-->
</div><!--/.content-->
    <br><br>

{% endblock %}


{#            <br>#}
{#            <b>Логін: </b>{{ request.user.username }}<br>#}
{#            <b>Ім'я: </b>{{ request.user.first_name }}<br>#}
{#            <b>Прізвище: </b>{{ request.user.last_name }}<br>#}
{#            <b>Електрона адреса: </b>{{ request.user.email }}<br>#}
{#            <b>Останій раз був у системі: </b>{{ request.user.last_login }}<br>#}
{#            <b>Є персоналом: </b>{{ request.user.is_staff }}<br>#}
{#            <b>Є активним: </b>{{ request.user.is_active }}<br>#}
{#            <b>Дата створення акаунту: </b>{{ request.user.data_joined }}<br>#}
{##}
{#            {% if request.user.profile %}#}
{#            <b>День народження: </b>{{ request.user.profile.user_birth_date }}<br>#}
{#            <b>Мобільнтй телефон: </b>{{ request.user.profile.user_phone }}<br>#}
{#            <b>Країна: </b>{{ request.user.profile.user_country }}<br>#}
{#            <b>Місто: </b>{{ request.user.profile.user_city }}<br>#}
{#            <b>Домашня адреса: </b>{{ request.user.profile.user_home_address }}<br>#}
{#            {% endif %}#}
{#            <br><br>#}
{#            <a href="{% url 'auth:ProfileEdit' %}">Редагувати профіль</a>#}

{#            <div class="row">#}
{#              <div class="col-md-12">#}
{#                <h1>Headline</h1><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni totam veniam libero unde quia commodi quibusdam minus alias reiciendis placeat explicabo culpa esse velit ipsa facere sequi eaque nihil facilis sunt quod! </p>#}
{#              </div>#}
{#            </div>#}
{#            <div class="row">#}
{#              <div class="col-md-3 col-sm-6 post">#}
{#                 <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>#}
{#                <h2>Post 1</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>#}
{#                <span class="btn btn-default">More</span>#}
{#              </div>#}
{#              <div class="col-md-3 col-sm-6 post">#}
{#                 <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>#}
{#                <h2>Post 2</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>#}
{#                <span class="btn btn-default">More</span>#}
{#              </div>#}
{#              <div class="col-md-3 col-sm-6 post">#}
{#                 <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>#}
{#                <h2>Post 3</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>#}
{#                <span class="btn btn-default">More</span>#}
{#              </div>#}
{#              <div class="col-md-3 col-sm-6 post">#}
{#                 <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>#}
{#                <h2>Post 4</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>#}
{#                <span class="btn btn-default">More</span>#}
{#              </div>#}
