{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Ваш список бажань
{% endblock %}

{% block content %}
<!-- ================================================= BREADCRUMB ================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
				<li class='active'>Список бажань</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- ============================================= BREADCRUMB : END ================================================ -->
<div class="body-content">
	<div class="container">
<!-- ============================================ WISHLIST DETAIL ================================================== -->
<div class="my-wishlist-page">
    <div class="row">
        <div class="col-md-12 my-wishlist">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4" class="heading-title">Мій список бажань</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% if wishlist %}
                        {% for wishes in wishlist %}
                        <tr>
                            <td class="col-md-2">
                                <img src="{% if wishes.product.image %}{{ wishes.product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="imga">
                            </td>
                            <td class="col-md-5">
                                <div class="product-name"><a href="{{ wishes.product.get_absolute_url }}">{{ wishes.product.name }}</a></div>
                                <!-- rating stars -->
                                    {% if wishes.product.avg_review == None %}
                                            <span class="stars-avg stars0"></span>
                                        {% else %}
                                        <span class="stars-avg stars{{wishes.product.avg_review|floatformat:"0"}}"></span>
                                    {%endif%}
                                <!-- rating stars : end -->

                                <div class="price">
                                    {{ wishes.product.price }} грн.
                                    <span>$900.00</span>
                                </div>
                            </td>

                            <td class="col-md-4">
                               <form action="{% url "cart:CartAdd" wishes.product.id %}" method="post" class="add">
                                    {% csrf_token %}
                                   {{ cart_product_form.quantity }}
                                    <span class="add-cart-button btn-group">
                                      <button class="btn btn-primary icon" data-toggle="dropdown" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                      <button class="btn btn-primary cart-btn" type="submit">Додати в корзину</button>
                                    </span>
                                </form>
{#                                <a href="#" class="btn-upper btn btn-primary">Add to cart</a>#}
                            </td>
                            <td class="col-md-1 close-btn">
                                <a href="{% url "wishlist:WishListDelete" wishes.product.id %}" class=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td class="col-md-12 close-btn text-center">
                        <br><br>
                            <h4>Ваш список бажань пустий</h4>
                        </td>
                    {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.sigin-in-->
<br>
<!-- ========================================== WISHLIST DETAIL : END ============================================== -->
    </div><!-- /.container -->
</div><!-- /.body-content -->
{% endblock %}