{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Про Магазин
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
        <li class='active'>Про Магазин</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<!-- ==================================================== CONTENT ================================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">


<div class="terms-conditions-page">
<div class="row">
    <div class="col-md-12 terms-conditions">
    <h2 class="heading-title">Інтернет магазин "MASTER"</h2>
    <div class="">
        <h3>Про НАС</h3>
Інтернет-магазин елекро-інструментів та господарських товарів «Мастер» – оптимальні рішення
Відчуйте перевагу покупок онлайн на нашому сайті. Тепер не доведеться витрачати час на ходіння по магазинах.
Ми пропонуємо можливість замовлення товару в два кліка. Також наші менеджери нададуть вам потрібну інформацію
про покупку, якщо на сайті ви не знайшли відповіді на ваші запитання. Ми намагаємося забезпечити наших клієнтів
кваліфікованою технічною консультацією, тому у нас працюють тільки професіонали.
<h3>Чому ми?</h3>
Постійне оновлення товару на сайті показує наявність техніки та ціни в реальному часі. Інтернет-магазин електроніки
«Мастер» – це економія не тільки грошей, але і вашого часу. Намагаючись продумати все до найдрібніших деталей, ми
прагнемо до ідеалу. Нам важливо, щоб кожен клієнт залишився задоволений покупкою, сервісом і мінімально витраченим
часом.
Ваш час так саме важливий, як і наш, тому наша команда постійно працює над тим, щоб процес покупки був простим, зрозумілим і швидким.
Наш інтернет-магазин електроніки в Україні співпрацює тільки з перевіреними постачальниками. Але від форс-мажорних обставин, які неможливо передбачити, не застрахований ніхто. Тому наші гарантійні зобов'язання, повага до кожного покупця, швидкість реагування, допомагає усунути проблему і знайти найбільш оптимальний вихід з неприємної ситуації.
        <h3>Зміни до угоди</h3>
        <p>Ми залишаємо за собою право на власний розсуд змінити або замінити ці Загальні положення та умови, опублікувавши оновлені умови на Сайті. Ваше подальше використання Сайту після будь-яких таких змін означає, що Ви приймаєте нові Загальні положення та умови.</p>
        <h3>Контакти</h3>
        <p>Якщо у вас виникли запитання щодо цієї Угоди, зв'яжіться з нами, або <a href="{% url 'shop:Contacts' %}" class='contact-form'>Контакти</a></p>
    </div>
    </div>
</div><!-- /.row -->
</div><!-- /.sigin-in-->


















  </div><!-- /.container -->
<br><br><br><br><br>
</div><!-- /#top-banner-and-menu -->

{% endblock %}


<!-- ============================================== BRANDS CAROUSEL ============================================== -->
{#<div class="body-content outer-top-xs" id="top-banner-and-menu">#}
{#  <div class="container">  #}
{#    <div id="brands-carousel" class="logo-slider wow fadeInUp">#}
{#      <div class="logo-slider-inner">#}
{#        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">#}
{#          {% if brands %}#}
{#            {% for brand in brands %}#}
{#                <div class="item m-t-15 text-center">#}
{#                    <a href="#" class="image" >#}
{#                        <img style="background-size:150px;width: 150px;" data-echo="{% if brand.image %}{{ brand.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">#}
{#                    </a>#}
{#                    <a href="#">#}
{#                        {{ brand.name }}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        </div><!-- /.owl-carousel #logo-slider -->#}
{#      </div><!-- /.logo-slider-inner -->#}
{#    </div><!-- /.logo-slider -->#}
{#  </div><!-- /.container -->#}
{#<br><br><br><br><br><br>#}
{#</div><!-- /#top-banner-and-menu -->#}
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->