{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Контакти
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
        <li class='active'>Контакти</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<!-- ==================================================== CONTENT ================================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">


<div class="body-content">
	<div class="container">
        <div class="contact-page">
            <div class="row">
                <div class="col-md-12 contact-map outer-bottom-vs">
    {#                    AIzaSyAxois9EpYH0tGMGNtMSwp4Zd3VnmVSG2I#}
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=%D0%92%D1%83%D0%BB%D0%B8%D1%86%D1%8F%20%D1%80%D1%96%D0%B2%D0%BD%D0%B5%D0%BD%D1%81%D1%8C%D0%BA%D0%B0%2080%20%D0%B0&key=AIzaSyAxois9EpYH0tGMGNtMSwp4Zd3VnmVSG2I" width="600" height="450"  style="border:0"></iframe>
                </div>
                <div class="col-md-9 contact-form">
                    <div class="col-md-12 contact-title">
        {#                <h4>Contact Form</h4>#}
                    </div>
                </div>
            <div class="col-md-3 contact-info">
                <div class="contact-title">
                    <h4>Інформація</h4>
                </div>
                <div class="clearfix address">
                    <span class="contact-i"><i class="fa fa-map-marker"></i></span>
                    <span class="contact-span">Україна 43020, Волинська обл., м.Луцьк, вул.Рівненьська 80а</span>
                </div>
                <div class="clearfix phone-no">
                    <span class="contact-i"><i class="fa fa-mobile"></i></span>
                    <span class="contact-span">+(0332) 75-08-18<br>+(0332) 45-67-89</span>
                </div>
                <div class="clearfix email">
                    <span class="contact-i"><i class="fa fa-envelope"></i></span>
                    <span class="contact-span"><a href="#">master@gmail.com</a></span>
                </div>
            </div>
        </div><!-- /.contact-page -->
    </div>
    </div>
</div>

  </div><!-- /.container -->
<br><br><br><br><br>
</div><!-- /#top-banner-and-menu -->

{% endblock %}


<!-- ============================================== BRANDS CAROUSEL ============================================== -->
{#<div class="body-content outer-top-xs" id="top-banner-and-menu">#}
{#  <div class="container">  #}
{#    <div id="brands-carousel" class="logo-slider wow fadeInUp">#}
{#      <div class="logo-slider-inner">#}
{#        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">#}
{#          {% if brands %}#}
{#            {% for brand in brands %}#}
{#                <div class="item m-t-15 text-center">#}
{#                    <a href="#" class="image" >#}
{#                        <img style="background-size:150px;width: 150px;" data-echo="{% if brand.image %}{{ brand.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">#}
{#                    </a>#}
{#                    <a href="#">#}
{#                        {{ brand.name }}#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        </div><!-- /.owl-carousel #logo-slider -->#}
{#      </div><!-- /.logo-slider-inner -->#}
{#    </div><!-- /.logo-slider -->#}
{#  </div><!-- /.container -->#}
{#<br><br><br><br><br><br>#}
{#</div><!-- /#top-banner-and-menu -->#}
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->