{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Гарантії
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
        <li class='active'>Гарантії</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<!-- ==================================================== CONTENT ================================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">


      <div class="body-content">
	<div class="container">
		<div class="checkout-box faq-page">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading-title">Питання, що часто задаються</h2>
					<span class="title-tag">Останій раз оновлено 21 червня 2018 року</span>
					<div class="panel-group checkout-steps" id="accordion">
						<!-- checkout-step-01  -->
<div class="panel panel-default checkout-step-01">

	<!-- panel-heading -->
		<div class="panel-heading">
    	<h4 class="unicase-checkout-title">
	        <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseOne">
	          <span>1</span>Для чого потрібна реєстрація ?
	        </a>
	     </h4>
    </div>
    <!-- panel-heading -->

	<div id="collapseOne" class="panel-collapse collapse in">

		<!-- panel-body  -->
	    <div class="panel-body">
	    	<p>- Зареєстрований користувач має наступні переваги:</p>
            <p>- Автоматично ставати учасником програми лояльності «Мій бонус»;</p>
            <p>- Отримує промокодом дозволяють купити товар зі знижкою - Завжди в курсі різних пропозицій і акцій.</p>
		</div>
		<!-- panel-body  -->

	</div><!-- row -->
</div>
<!-- checkout-step-01  -->
					    <!-- checkout-step-02  -->
					  	<div class="panel panel-default checkout-step-02">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
						          <span>2</span>Як оформити замовлення?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						        Оформити замовлення можна в телефонному режимі, або ж вибрати на сайті товар, що цікавить і оформити замовлення, натиснувши кнопку «Купити».
						      </div>
						    </div>
					  	</div>
					  	<!-- checkout-step-02  -->

						<!-- checkout-step-03  -->
					  	<div class="panel panel-default checkout-step-03">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
						       		<span>3</span>Як додати, видалити, змінити кількість товару в кошику?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						      <div class="panel-body">
						        Щоб додати товар в корзину, натисніть кнопку «Купити», якщо необхідно додати ще товари, натисніть «Продовжити покупки». Для видалення товару, натисніть на кнопку в правому верхньому куті «Оформити замовлення». Ви потрапите на сторінку відображає вміст вашої корзини, після чого натисніть кнопку «X» правіше товару, щоб видалити його з кошика. Для зміни кількості товару, що купується, введіть необхідне число одиниць товару в поле «Кількість» поруч з обраним товаром.
						      </div>
						    </div>
					  	</div>
					  	<!-- checkout-step-03  -->

						<!-- checkout-step-04  -->
					    <div class="panel panel-default checkout-step-04">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour">
						        	<span>4</span>Ви відправляєте замовлення післяплатою?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseFour" class="panel-collapse collapse">
							    <div class="panel-body">
							        Ми відправляємо замовлення післяплатою тільки службами «Нова пошта» і «Міст Експрес».
							    </div>
					    	</div>
						</div>
						<!-- checkout-step-04  -->

						<!-- checkout-step-05  -->
					  	<div class="panel panel-default checkout-step-05">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive">
						        	<span>5</span>Якщо я замовлю два товари, окремими замовленнями, їх доставлять в одній посилці?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseFive" class="panel-collapse collapse">
						      <div class="panel-body">
						        Якщо ви оформите кілька замовлень в короткий проміжок часу, вони будуть об'єднані в одне замовлення і відправлені однією посилкою. Для цього, під час телефонної розмови з нашим менеджером, необхідно повідомити про те, що вами було оформлено кілька замовлень. Об'єднання замовлень можливо до того моменту, поки товар не зданий на службу доставки.
						      </div>
						    </div>
					    </div>
					    <!-- checkout-step-05  -->

						<!-- checkout-step-06  -->
					  	<div class="panel panel-default checkout-step-06">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix">
						        	<span>6</span>Чи можу я забрати своє замовлення в магазині?
						        </a>
						      </h4>
						    </div>
					    	<div id="collapseSix" class="panel-collapse collapse">
					      		<div class="panel-body">
					        		Так, ви можете забрати своє замовлення в одному з наших магазинів. Для цього ви повинні зробити замовлення і менеджер повідомить, коли ваше замовлення буде сформований і доставлений в магазин.
					      		</div>
					    	</div>
					  	</div>
					  	<!-- checkout-step-06  -->

					  	<!-- checkout-step-07  -->
					  	<div class="panel panel-default checkout-step-07">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeven">
						        	<span>7</span>Чи можна повернути куплений товар?
						        </a>
						      </h4>
						    </div>
					    	<div id="collapseSeven" class="panel-collapse collapse">
					      		<div class="panel-body">
					        		Куплений товар, звичайно ж можна повернути і обміняти, відповідно до Закону України «Про захист прав споживачів». Щоб оформити повернення, необхідно зайти в розділ «Гарантія та сервіс», вибрати пункт «Повернення» або «Обмін», далі заповнити необхідні поля.
					      		</div>
					    	</div>
					  	</div>
					  	<!-- checkout-step-07  -->

					  	<!-- checkout-step-08  -->
					  	<div class="panel panel-default checkout-step-08">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEight">
						        	<span>8</span>Що робити, якщо я отримав товар в пошкодженому стані?
						        </a>
						      </h4>
						    </div>
					    	<div id="collapseEight" class="panel-collapse collapse">
					      		<div class="panel-body">
					        		При отриманні товару на службі доставки, його обов'язково необхідно перевірити на зовнішні пошкодження. У разі виявлення пошкодженого товару, потрібно оформити акт, згідно з установленими правилами кур'єрської служби. Після чого обов'язково повідомити нас про ситуації, що склалася.
					      		</div>
					    	</div>
					  	</div>
					  	<!-- checkout-step-08  -->

					  	<!-- checkout-step-09  -->
					  	<div class="panel panel-default checkout-step-09">
						    <div class="panel-heading">
						      <h4 class="unicase-checkout-title">
						        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNine">
						        	<span>9</span>Як користуватися промокодом?
						        </a>
						      </h4>
						    </div>
					    	<div id="collapseNine" class="panel-collapse collapse">
					      		<div class="panel-body">
					        		Для того щоб отримати знижку Вам необхідно при оформленні замовлення ввести промокод в спеціальне поле в формі замовлення. Після цього, потрібно натиснути кнопку "Застосувати" і "Оформити замовлення". Усе! Знижка у вас в кишені.
					      		</div>
					    	</div>
					  	</div>
					  	<!-- checkout-step-09  -->

					</div><!-- /.checkout-steps -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.checkout-box -->
    </div>
      </div>





  </div><!-- /.container -->
<br><br><br><br><br>
</div><!-- /#top-banner-and-menu -->

{% endblock %}