{% extends "shop/base.html" %}

{% load static %}

{% block title %}
  {% if product.name %}{{ product.name }}{% endif %}
{% endblock %}

{% block content %}
<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url "shop:ProductList" %}">Головна</a></li>
{#				<li><a href="{{ product.category.get_absolute_url }}"><span>{% if product.name %} {{ product.category }}{% endif %}</span></a></li>#}
				<li class='active'>{% if product.name %}{{ product.name }}{% endif %}</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->

<div class="body-content outer-top-xs">
	<div class='container'>
		<div class='row single-product'>
			<div class='col-md-3 sidebar'>
				<div class="sidebar-module-container">
{#                    <div class="home-banner outer-top-n">#}
{#                        {% for poster_one in posters_one %}#}
{#                        <img src="{% if poster_one.image %}{{ poster_one.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="Image" height="250">#}
{#                        {% endfor %}#}
{#                    </div>#}

<!-- ============================================== HOT DEALS ============================================== -->
        <div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs">
          <h3 class="section-title">Гарячий розпродаж</h3>
          <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
          {% if hot_deals_products %}
              {% for hot_deals_product in hot_deals_products %}
                <div class="item">
                  <div class="products">
                    <div class="hot-deal-wrapper">
                      <div class="image">
                      <a href="{{ hot_deals_product.get_absolute_url }}">
                          <img src="{% if hot_deals_product.image %}{{ hot_deals_product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                      </a>
                      </div>
                      <div class="sale-offer-tag"><span>49%<br>
                        off</span></div>
                      <div class="timing-wrapper">
                        <div class="box-wrapper">
                          <div class="date box"> <span class="key">120</span> <span class="value">ДНІВ</span> </div>
                        </div>
                        <div class="box-wrapper">
                          <div class="hour box"> <span class="key">20</span> <span class="value">ГОДИН</span> </div>
                        </div>
                        <div class="box-wrapper">
                          <div class="minutes box"> <span class="key">36</span> <span class="value">ХВИЛИН</span> </div>
                        </div>
                        <div class="box-wrapper hidden-md">
                          <div class="seconds box"> <span class="key">60</span> <span class="value">СУКУНД</span> </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.hot-deal-wrapper -->

                    <div class="product-info text-left m-t-20">
                      <h3 class="name text-center"><a href="{{ hot_deals_product.get_absolute_url }}">{{ hot_deals_product.name }}</a></h3>
                      <!-- rating stars -->
                        {% if product.avg_review == None %}
                                <span class="stars-avg stars0"></span>
                            {% else %}
                            <span class="stars-avg stars{{product.avg_review|floatformat:"0"}}"></span>
                        {%endif%}
                        <!-- rating stars : end -->
                      <div class="product-price"> <span class="price">{{ hot_deals_product.price }} грн. </span>  </div>
                      <!-- /.product-price -->

                    </div>
                    <!-- /.product-info -->

                    <div class="cart clearfix animate-effect">
                      <div class="action">
                        <div class="add-cart-button btn-group">
                            <form action="{% url "cart:CartAdd" hot_deals_product.id %}" method="post" class="add">
                                {% csrf_token %}
                                    <div class="hidden" > {#style="display:none;"#}
                                      {{ cart_product_form.quantity }}
                                    </div>
                                <span class="add-cart-button btn-group">
                                  <button class="btn btn-primary icon" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                  <button class="btn btn-primary cart-btn" type="submit">Додати до кошика</button>
                                </span>
                            </form>
                        </div>
                      </div>
                      <!-- /.action -->
                    </div>
                    <!-- /.cart -->
                  </div>
                </div>
              {% endfor %}
          {% else %}
            <div class="item">
              <div class="products">
                <div class="hot-deal-wrapper">
                  <div class="image"> <img src="{% static "images/hot-deals/p25.jpg" %}" alt=""> </div>
                  <div class="sale-offer-tag"><span>49%<br>
                    off</span></div>
                  <div class="timing-wrapper">
                    <div class="box-wrapper">
                      <div class="date box"> <span class="key">120</span> <span class="value">ДНІВ</span> </div>
                    </div>
                    <div class="box-wrapper">
                      <div class="hour box"> <span class="key">20</span> <span class="value">ГОДИН</span> </div>
                    </div>
                    <div class="box-wrapper">
                      <div class="minutes box"> <span class="key">36</span> <span class="value">ХВИЛИН</span> </div>
                    </div>
                    <div class="box-wrapper hidden-md">
                      <div class="seconds box"> <span class="key">60</span> <span class="value">СУКУНД</span> </div>
                    </div>
                  </div>
                </div>
                <!-- /.hot-deal-wrapper -->

                <div class="product-info text-left m-t-20">
                  <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                  <div class="rating rateit-small"></div>
                  <div class="product-price"> <span class="price"> $600.00 </span> <span class="price-before-discount">$800.00</span> </div>
                  <!-- /.product-price -->

                </div>
                <!-- /.product-info -->

                <div class="cart clearfix animate-effect">
                  <div class="action">
                    <div class="add-cart-button btn-group">
                      <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                      <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                    </div>
                  </div>
                  <!-- /.action -->
                </div>
                <!-- /.cart -->
              </div>
            </div>
          {% endif %}

          </div>
          <!-- /.sidebar-widget -->
        </div>
<!-- ============================================== HOT DEALS: END ============================================== -->


<!-- ============================================== NEWSLETTER ============================================== -->
        <div class="sidebar-widget newsletter wow fadeInUp outer-bottom-small">
          <h3 class="section-title">Підписка</h3>
          <div class="sidebar-widget-body outer-top-xs">
            <p>Залиште свої дані!</p>
            <form>
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail1">Email адрес</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Введіть свій Email!">
              </div>
              <button class="btn btn-primary">Підписатися</button>
            </form>
          </div>
          <!-- /.sidebar-widget-body -->
        </div>
        <!-- /.sidebar-widget -->
<!-- ============================================== NEWSLETTER: END ============================================== -->

<!-- ============================================== Testimonials============================================== -->
{#<div class="sidebar-widget wow fadeInUp outer-top-vs ">#}
{#	<div id="advertisement" class="advertisement">#}
{#        <div class="item">#}
{#            <div class="avatar"><img src="{% static "images/testimonials/member1.png" %}" alt="Image"></div>#}
{#		    <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>#}
{#		    <div class="clients_author">John Doe	<span>Abc Company</span>	</div><!-- /.container-fluid -->#}
{#        </div><!-- /.item -->#}
{##}
{#        <div class="item">#}
{#         	<div class="avatar"><img src="{% static "images/testimonials/member3.png" %}" alt="Image"></div>#}
{#		    <div class="testimonials"><em>"</em>Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>#}
{#		    <div class="clients_author">Stephen Doe	<span>Xperia Designs</span>	</div>#}
{#        </div><!-- /.item -->#}
{##}
{#        <div class="item">#}
{#            <div class="avatar"><img src="{% static "images/testimonials/member2.png" %}" alt="Image"></div>#}
{#		    <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>#}
{#		    <div class="clients_author">Saraha Smith	<span>Datsun &amp; Co</span>	</div><!-- /.container-fluid -->#}
{#        </div><!-- /.item -->#}
{#    </div><!-- /.owl-carousel -->#}
{#</div>#}

<!-- ============================================== Testimonials: END ============================================== -->
				</div>
			</div><!-- /.sidebar -->

			<div class='col-md-9'>
            <div class="detail-block">
				<div class="row  wow fadeInUp">

<!-- ========================================== GALLERY IMAGE PRODUCT  ============================================= -->
<div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">
        <div id="owl-single-product">

            <div class="single-product-gallery-item" id="slide0">
                <a data-lightbox="image-0" data-title="Gallery" href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}">
                    <img class="img-responsive" alt="" src="{% static "images/blank.gif" %}" data-echo="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" />
                </a>

            </div><!-- /.single-product-gallery-item -->

            {% if product.images.all %}
                {% for image in product.images.all  %}
                    <div class="single-product-gallery-item" id="slide{{ image.id }}">
                        <a data-lightbox="image-{{ image.id }}" data-title="Gallery" href="{{ image.image_item.url }}">
                            <img class="img-responsive" alt="" src="{% static "images/blank.gif" %}" data-echo="{{ image.image_item.url }}" />
                        </a>
                    </div><!-- /.single-product-gallery-item -->
                {% endfor %}
            {% endif %}

        </div><!-- /.single-product-slider -->


        <div class="single-product-gallery-thumbs gallery-thumbs">
            <div id="owl-single-product-thumbnails">

                <div class="item">
                    <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide0">
                        <img class="img-responsive" width="85" alt="" src="{% static "images/blank.gif" %}" data-echo="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}"/>
                    </a>
                </div>

                {% if product.images.all %}
                    {% for image in product.images.all  %}
                        <div class="item">
                            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="{{ image.id }}" href="#slide{{ image.id }}">
                                <img class="img-responsive" width="85" alt="" src="{% static "images/blank.gif" %}" data-echo="{{ image.image_item.url }}" />
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

            </div><!-- /#owl-single-product-thumbnails -->
        </div><!-- /.gallery-thumbs -->

    </div><!-- /.single-product-gallery -->
</div><!-- /.gallery-holder -->
<!-- ======================================== GALLERY IMAGE PRODUCT : END ========================================== -->

                    {#---------------------------------------------------------------------------#}
					<div class='col-sm-6 col-md-7 product-info-block'>
						<div class="product-info">
							<h1 class="name">{{ product.name }}</h1>

							<div class="rating-reviews m-t-20">
								<div class="row">
									<div class="col-sm-4">
{#										<div class="rating rateit-small"></div>#}
                                        {% for item in review_sum %}
                                            {% if item.avg_review == None %}
                                                    <span class="stars-avg stars0"></span>
                                                {% else %}
                                                <span class="stars-avg stars{{item.avg_review|floatformat:"0"}}"></span>
                                            {%endif%}
                                        {%endfor%}
									</div>
									<div class="col-sm-8">
										<div class="reviews text-right" >
											<a href="#" class="lnk">({{ review_count }} Відгуків)</a>
										</div>
									</div>
								</div><!-- /.row -->
							</div><!-- /.rating-reviews -->

							<div class="stock-container info-container m-t-10">
								<div class="row">
									<div class="col-sm-2">
										<div class="stock-box">
											<span class="label">Доступний :</span>
										</div>
									</div>
									<div class="col-sm-9">
										<div class="stock-box">
                                            {% if product.available == True %}
											<span class="value">На складі {{ product.stock }} шт.</span>
                                            {% else %}
                                                <span class="value">Немає на складі</span>
                                            {% endif %}
										</div>
									</div>
								</div><!-- /.row -->
							</div><!-- /.stock-container -->

                            <div class="stock-container info-container m-t-10">
								<div class="row">
									<div class="col-sm-2">
										<div class="stock-box">
											<span class="label"> Категорія :</span>
										</div>
									</div>
									<div class="col-sm-9">
										<div class="stock-box">
											<span class="value"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></span>
										</div>
									</div>
								</div><!-- /.row -->
							</div><!-- /.stock-container -->


							<div class="description-container m-t-20">
								{{ product.description | linebreaks}}
							</div><!-- /.description-container -->

							<div class="price-container info-container m-t-20">
								<div class="row">


									<div class="col-sm-6">
										<div class="price-box">
											<span class="price">{{ product.price }} грн.</span>
{#											<span class="price-strike">$900.00</span>#}
										</div>
									</div>

									<div class="col-sm-6">
										<div class="favorite-button m-t-10">
											<a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Wishlist" href="{% url 'wishlist:WishListAdd' product.id %}">
											    <i class="fa fa-heart"></i>
											</a>
											<a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Compare" href="#">
											   <i class="fa fa-signal"></i>
											</a>
											<a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="E-mail" href="#">
											    <i class="fa fa-envelope"></i>
											</a>
										</div>
									</div>

								</div><!-- /.row -->
							</div><!-- /.price-container -->

                            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                {% csrf_token %}
                                <div class="quantity-container info-container">
                                    <div class="col-sm-5">
                                        <div class="cart-quantity">
                                            <span class="label">Кількість :  {{ cart_product_form.quantity }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7" style="padding-top: 2px;">
                                        <button type="submit" class="btn btn-primary" ><i class="fa fa-shopping-cart inner-right-vs"></i>Додати в корзину</button>
                                    </div>
                                </div><!-- /.quantity-container -->
                            </form>
{#---------------------------------------------------------------------------#}

						</div><!-- /.product-info -->
					</div><!-- /.col-sm-7 -->
				</div><!-- /.row -->
                </div>

				<div class="product-tabs inner-bottom-xs  wow fadeInUp">
					<div class="row">
						<div class="col-sm-3">
							<ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
								<li class="active"><a data-toggle="tab" href="#description">Опис</a></li>
								<li><a data-toggle="tab" href="#review">Коментарі</a></li>
{#								<li><a data-toggle="tab" href="#tags">TAGS</a></li>#}
							</ul><!-- /.nav-tabs #product-tabs -->
						</div>
						<div class="col-sm-9">

							<div class="tab-content">

								<div id="description" class="tab-pane in active">
									<div class="product-tab">
										<p class="text"> {{ product.description }}</p>
									</div>
								</div><!-- /.tab-pane -->

<!-- ============================================== COMMENTS TAB =================================================== -->
								<div id="review" class="tab-pane">
									<div class="product-tab">

                                    <!-- =========================== COMMENT ADD FORM ============================== -->
                                    {% if request.user.is_authenticated %}
                                        <div class="product-add-review">
											<div class="review-form">
												<div class="form-container">
                                                    <form action="{% url 'shop:ProductDetail' product.id product.slug %}" method="POST" role="form" class="cnt-form">
                                                        {% csrf_token %}
                                                        <!-- ----------------------Rating System ------------------- -->
                                                        <h4 class="title">Залиште, будь ласка, ваш коментар.</h4>

                                                        <div class="review-table">
                                                            <div class="table-responsive">

                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="cell-label">&nbsp;</th>
                                                                            <th>1 зірка</th>
                                                                            <th>2 зірки</th>
                                                                            <th>3 зірки</th>
                                                                            <th>4 зірки</th>
                                                                            <th>5 зірок</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="cell-label">Рейтинг</td>
                                                                            <td>
                                                                                <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars" style="font-size: 2rem;"></label>
                                                                            </td>
                                                                            <td>
                                                                                <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars" style="font-size: 2rem;"></label>
                                                                            </td>
                                                                            <td>
                                                                                <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars" style="font-size: 2rem;"></label>
                                                                            </td>
                                                                            <td>
                                                                                <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars" style="font-size: 2rem;"></label>
                                                                            </td>
                                                                            <td>
                                                                                <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                                                                <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars" style="font-size: 2rem;"></label>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><!-- /.table .table-bordered -->
                                                            </div><!-- /.table-responsive -->
                                                        </div><!-- /.review-table -->

{#                                                            <div class="star-rating">#}
{#                                                              <div class="star-rating__wrap">#}




                                                        <!-- ------------------Rating System : End ----------------- -->

                                                        <div class="row">
															<div class="col-md-12">
{#                                                                <div>{{ comment_form.rating }}</div>#}
																<div class="form-group">
																	<label for="exampleInputReview">Коментар<span class="astk">*</span>:</label>
                                                                    {{ comment_form.text_comment }}
																</div><!-- /.form-group -->
															</div>
														</div><!-- /.row -->

														<div class="action text-right">
															<button type="submit" class="btn btn-primary btn-upper">Відправити</button>
														</div><!-- /.action -->
                                                    </form><!-- /.cnt-form -->

                                                </div><!-- /.form-container -->
                                            </div><!-- /.review-form -->
                                        </div><!-- /.product-add-review -->
                                        <br><br><br>
                                        <hr>
                                    {% else %}
                                        <br>
                                        <div class="text-center" style="background: mistyrose;border-radius: 10px;">
                                        <br>
                                        <h5>
                                            <p> Будь ласка,
                                            <a href="{% url 'auth:LoginUser' %}">увійдіть</a>
                                            або
                                            <a href="{% url 'auth:RegisterUser' %}">зареєструйтесь</a>
                                            , щоб залишити коментар. </p>
                                        </h5>
                                        <br>
                                        </div>
                                        <br><br><br>
                                        <hr>
                                    {% endif %}
                                    <!-- ========================= COMMENT ADD FORM: END =========================== -->

                                    <!-- ======================== COMMENTS LIST USERS ============================== -->
                                        <div class="product-reviews">
                                            <h4 class="title">Коментарі користувачів</h4>
                                            <div class="reviews">
                                                {% if comments_list %}
                                                    {% for coment in comments_list %}
                                                        <div class="review">
                                                            <div class="review-title">
                                                                <span class="summary">{{ coment.author.username }}</span>
                                                                <br>
                                                                <span class="date">
                                                                    <i class="fa fa-calendar"></i>
                                                                    <span>{{ coment.created }}</span>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                Рейтинг: {{ coment.rating }}
                                                            </div>
                                                            <div class="text">
                                                                "{{ coment.text_comment }}"
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="review">
                                                        Коментарів до цього товару ще немає.
                                                    </div>
                                                {%  endif %}
                                            </div><!-- /.reviews -->
                                        </div><!-- /.product-reviews -->
                                    <!-- ===================== COMMENTS LIST USERS: END ============================ -->

							        </div><!-- /.product-tab -->
								</div><!-- /.tab-pane -->
<!-- =========================================== COMMENTS TAB: END ================================================= -->


{#								<div id="tags" class="tab-pane">#}
{#									<div class="product-tag">#}
{##}
{#										<h4 class="title">Product Tags</h4>#}
{#										<form role="form" class="form-inline form-cnt">#}
{#											<div class="form-container">#}
{##}
{#												<div class="form-group">#}
{#													<label for="exampleInputTag">Add Your Tags: </label>#}
{#													<input type="email" id="exampleInputTag" class="form-control txt">#}
{##}
{##}
{#												</div>#}
{##}
{#												<button class="btn btn-upper btn-primary" type="submit">ADD TAGS</button>#}
{#											</div><!-- /.form-container -->#}
{#										</form><!-- /.form-cnt -->#}
{##}
{#										<form role="form" class="form-inline form-cnt">#}
{#											<div class="form-group">#}
{#												<label>&nbsp;</label>#}
{#												<span class="text col-md-offset-3">Use spaces to separate tags. Use single quotes (') for phrases.</span>#}
{#											</div>#}
{#										</form><!-- /.form-cnt -->#}
{##}
{#									</div><!-- /.product-tab -->#}
{#								</div><!-- /.tab-pane -->#}

							</div><!-- /.tab-content -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.product-tabs -->

<!-- ============================================== FEATURED PRODUCTS ============================================== -->
        <section class="section featured-product wow fadeInUp">
          <h3 class="section-title">Найкращі товари</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            {% for best_product in best_products %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                    <!-- Картинка товару -->
                        <div class="product-image">
                          <div class="image">
                              <a href="{{ best_product.get_absolute_url }}">
                                <img src="{% if best_product.image %}{{ best_product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %} " alt="" height="189" width="189">
                              </a>
                          </div><!-- /.image -->
                          <!-- tag_status -->
                              {% if best_product.tag_status %}
                                <div class="tag {{ best_product.tag_status }}"><span>{{ best_product.tag_status }}</span></div>
                              {% endif %}
                          <!-- tag_status : end -->
                        </div><!-- /.product-image -->

                      <!-- Інформація про товар(назва, ціна і т далі) -->
                        <div class="product-info text-left">
                          <h3 class="name" style="margin-bottom: 0px;" >
                              <a href="{{ best_product.get_absolute_url }}">{{ best_product.name }}</a></h3>

                            <!-- rating stars -->
                            {% if best_product.avg_review == None %}
                                    <span class="stars-avg stars0"></span>
                                {% else %}
                                <span class="stars-avg stars{{best_product.avg_review|floatformat:"0"}}"></span>
                            {%endif%}
                            <!-- rating stars : end -->

                          <div class="description"></div>
                          <div class="product-price">
                              <span class="price"> {{ best_product.price }} грн. </span>
                              <span class="price-before-discount">$ 800</span>
                          </div><!-- /.product-price -->
                        </div><!-- /.product-info -->

                    <!-- Анімація при наведені (доати до корзини,додоти в улюблений список,порівняти) -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                                <li>
                                    <form action="{% url "cart:CartAdd" best_product.id %}" method="post" class="add">
                                        {% csrf_token %}
                                            <div class="hidden" > {#style="display:none;"#}
                                              {{ cart_product_form.quantity }}
                                            </div>
                                        <span class="add-cart-button btn-group">
                                          <button class="btn btn-primary icon" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                        </span>
                                    </form>
                                </li>

                                {% if not request.user.is_authenticated %}
                                <li class="dropdown dropdown-small lnk wishlist" title="Увійдіть, щоб додати">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" style="cursor: not-allowed; /*  курсор в виде стрелки */">
                                        <span class="value">
                                            <i class="icon fa fa-heart"></i>
                                        </span>
                                    </a>
                                  <ul class="dropdown-menu text-center" style="background: black">
                                    <li class="col-md-12 text-center" style="padding: 0px !important;margin: 0px!important;">
                                        <p style="margin: 0px!important;"><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                        <p style="color: gainsboro; margin: 0px!important;">або</p>
                                        <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                                    </li>
                                  </ul>
                                </li>
                                {% else %}
                                <li class="lnk wishlist">
                                    <a class="add-to-cart" href="{% url "wishlist:WishListAdd" best_product.id %}" title="Wishlist">
                                      <i class="icon fa fa-heart"></i>
                                    </a>
                                </li>
                                {% endif %}

                                <li class="lnk">
                                  <a class="add-to-cart" href="detail.html" title="Compare">
                                      <i class="fa fa-signal"></i>
                                  </a>
                                </li>
                            </ul>
                          </div><!-- /.action -->
                        </div><!-- /.cart -->
                      </div><!-- /.product -->
                    </div><!-- /.products -->
                  </div><!-- /.item -->
                {% endfor %}
          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->
<!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
			</div><!-- /.col -->
			<div class="clearfix"></div>
		</div><!-- /.row -->
<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div id="brands-carousel" class="logo-slider wow fadeInUp">
      <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
          {% if brands %}
            {% for brand in brands %}
                <div class="item m-t-15 text-center">
                    <a href="#" class="image" >
                        <img style="background-size:150px;width: 150px;" data-echo="{% if brand.image %}{{ brand.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" src="{% static "images/blank.gif" %}" alt="">
                    </a>
                    <a href="#">
                        {{ brand.name }}
                    </a>
                </div>
            {% endfor %}
          {% endif %}
        </div><!-- /.owl-carousel #logo-slider -->
      </div><!-- /.logo-slider-inner -->
    </div><!-- /.logo-slider -->
  </div><!-- /.container -->
<br><br><br><br><br><br>
</div><!-- /#top-banner-and-menu -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div><!-- /.container -->
</div><!-- /.body-content -->



{% endblock %}
