{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {# Якщо категорія має значення не NONE то в title виводим назву категоріх інакше: Сторінка товарів #}
    {% if category %} {{ category.name }} {% else %} Сторінка товарів {% endif %}

{% endblock %}

{% block content %}
{#  <div id="sidebar" class="col-sm-3">#}
{#  ---------------------------------------------------#}
{#    <h3>Розділи</h3>#}
{#    <ul>#}
{#      <li {% if not catalog %} class="selected" {% endif %}>#}
{#        <a href="{% url "shop:ProductList" %}">Всі</a>#}
{#      </li>#}
{#      {% for catal in catalogs %}#}
{#        <li {% if catalog.slug == catal.slug %} class="selected" {% endif %}>#}
        {# catal.get_absolute_url (/elektrotovari/ ; /ruchnij-instrument/) #}
{#          <a href="{{ catal.get_absolute_url }}">{{ catal.name }}</a>#}
{#        </li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  ---------------------------------------------------#}
{##}
{#    <h3>Категорії</h3>#}
{#    <ul>#}
{#      <li {% if not category %} class="selected" {% endif %}>#}
{#        <a href="{% url "shop:ProductList" %}">Всі</a>#}
{#      </li>#}
{#      {% for cat in categories %}#}
{#        <li {% if category.slug == cat.slug %} class="selected" {% endif %}>#}
{#          <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>#}
{#        </li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  ---------------------------------------------------------------------------#}
{#  </div>#}
{#  <div id="main" class="product_list col-sm-9">#}
{#    <h1>{% if category %}{{ category.name }}{% else %}Товари{% endif %}</h1>#}
{#    <div class="items row">#}
{#      {% for product in products %}#}
{#        <div class="item col-sm-4">#}
{#          <a href="{{ product.get_absolute_url }}">#}
{#            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">#}
{#          </a>#}
{#          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>#}
{#          {{ product.price }} грн.#}
{#        </div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  </div>#}


<!-- =============================================== BRADCRUMB ===================================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="{% url 'shop:HomePage' %}">Головна</a></li>
        <li class='active'>Категорії</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<!-- =========================================== BRADCRUMB : END =================================================== -->
<!-- =============================================== CONTENT  ====================================================== -->
<div class="body-content outer-top-xs">
  <div class='container'>
    <div class='row'>
<!-- ========================================== LEFT SIDE CONTENT  ================================================= -->
      <div class='col-md-3 sidebar'>
<!-- ===================================== TOP NAVIGATION(CATEGORIES MENU) ========================================= -->
        <!-- ------------------ Menu Title ---------------------- -->
        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Категорії</div>
          <nav class="yamm megamenu-horizontal">
            <ul class="nav">

              {% if catalogs %}
                  {% for catal in catalogs %}
                      <!-- ------------------ 1-st element menu(level-1) ---------------------- -->
                      <li class="dropdown menu-item">
                          <a href="{{ catal.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon fa {{ catal.icon }}" aria-hidden="true"></i>{{ catal.name }}
                          </a>
                        {% if catal.categories.all %}
                            <ul class="dropdown-menu mega-menu">
                              <li class="yamm-content">
                                <div class="row">
                                  <!-- -------------- 1-st element menu(level-2) ------------------ -->
{#                                  <div class="col-sm-12 col-md-3">#}
{#                                    <ul class="links list-unstyled">#}
                                      {% for categ in catal.categories.all %}
                                          {% if forloop.counter0|divisibleby:"3" %}
                                              <div class="col-sm-12 col-md-3">
                                                <ul class="links list-unstyled">
                                          {% endif %}
                                          <li><a href="{{ categ.get_absolute_url }}">{{ categ }}</a></li>
                                          {% if forloop.counter|divisibleby:"3" %}
                                                </ul>
                                              </div>
                                          {% endif %}
                                      {% endfor %}
{#                                    </ul>#}
{#                                  </div><!-- /.col -->#}
                                <!-- Picture menu -->
{#                                <div class="dropdown-banner-holder">#}
{#                                    <a href="#"><img alt="" src="{% static "images/banners/banner-side.png" %}"/></a>#}
{#                                </div>#}
                                <!-- Picture menu : end -->
                                </div><!-- /.row -->
                              <div class="dropdown-banner-holder">
                                    <a href="#"><img alt="" src="{% if catal.image %}{{ catal.image.url }}{% else %}{% static "images/banners/banner-side.png" %}{% endif %}"/></a>
                              </div>
                              </li><!-- /.yamm-content -->
                            </ul><!-- /.dropdown-menu -->
                        {% endif %}
                      </li><!-- /.menu-item -->
                  {% endfor %}
              {% else %}
                  <!-- ------------------ 1-st element menu(level-1) ---------------------- -->
                  <li class="dropdown menu-item">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon fa fa-paper-plane"></i>Вибачте, категорія не існує!
                      </a><!-- /.dropdown-menu -->
                  </li><!-- /.menu-item -->

                  <!-- ------------------ 2-nd element menu(level-1) ---------------------- -->
                  <li class="dropdown menu-item">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon fa fa-futbol-o"></i>Вибачте, категорія не існує!
                      </a><!-- /.dropdown-menu -->
                  </li><!-- /.menu-item -->

                  <!-- ------------------ 3-rd element menu(level-1) ---------------------- -->
                  <li class="dropdown menu-item">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon fa fa-envira"></i>Вибачте, категорія не існує!
                      </a><!-- /.dropdown-menu -->
                  </li><!-- /.menu-item -->
              {% endif %}

            </ul><!-- /.nav -->
          </nav><!-- /.megamenu-horizontal -->
        </div><!-- /.side-menu -->

<!-- ================================ TOP NAVIGATION(CATEGORIES MENU) : END ======================================== -->

<!-- ============================================ FILTERS PRODUCTS ================================================= -->
        <div class="sidebar-module-container">
          <div class="sidebar-filter">
            <!-- ----------- SidebarCategory Filter ------------- -->
            <div class="sidebar-widget wow fadeInUp">
              <h3 class="section-title">shop by</h3>
              <div class="widget-header">
                <h4 class="widget-title">Category</h4>
              </div>
              <div class="sidebar-widget-body">
                <div class="accordion">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseOne" data-toggle="collapse" class="accordion-toggle collapsed"> Camera </a>
                    </div><!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div><!-- /.accordion-inner -->
                    </div><!-- /.accordion-body -->
                  </div><!-- /.accordion-group -->

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseTwo" data-toggle="collapse" class="accordion-toggle collapsed"> Desktops </a>
                    </div><!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div><!-- /.accordion-inner -->
                    </div><!-- /.accordion-body -->
                  </div><!-- /.accordion-group -->

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseThree" data-toggle="collapse" class="accordion-toggle collapsed"> Pants </a>
                    </div><!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div><!-- /.accordion-inner -->
                    </div><!-- /.accordion-body -->
                  </div><!-- /.accordion-group -->

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseFour" data-toggle="collapse" class="accordion-toggle collapsed"> Bags </a>
                    </div><!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div><!-- /.accordion-inner -->
                    </div><!-- /.accordion-body -->
                  </div><!-- /.accordion-group -->

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseFive" data-toggle="collapse" class="accordion-toggle collapsed"> Hats</a>
                    </div><!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseFive" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div><!-- /.accordion-inner -->
                    </div><!-- /.accordion-body -->
                  </div><!-- /.accordion-group -->

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#collapseSix" data-toggle="collapse" class="accordion-toggle collapsed"> Accessories </a>
                    </div><!-- /.accordion-heading -->
                    <div class="accordion-body collapse" id="collapseSix" style="height: 0px;">
                      <div class="accordion-inner">
                        <ul>
                          <li><a href="#">gaming</a></li>
                          <li><a href="#">office</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">for women</a></li>
                        </ul>
                      </div><!-- /.accordion-inner -->
                    </div><!-- /.accordion-body -->
                  </div><!-- /.accordion-group -->

                </div><!-- /.accordion -->
              </div><!-- /.sidebar-widget-body -->
            </div><!-- /.sidebar-widget -->
            <!-- -------- SidebarCategory Filter : end ---------- -->

            <!-- --------------- PriseSlider Filter ------------- -->
            <div class="sidebar-widget wow fadeInUp">
              <div class="widget-header">
                <h4 class="widget-title">Price Slider</h4>
              </div>
              <div class="sidebar-widget-body m-t-10">
                <div class="price-range-holder"> <span class="min-max"> <span class="pull-left">$200.00</span> <span class="pull-right">$800.00</span> </span>
                  <input type="text" id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;">
                  <input type="text" class="price-slider" value="" >
                </div><!-- /.price-range-holder -->
                <a href="#" class="lnk btn btn-primary">Show Now</a> </div><!-- /.sidebar-widget-body -->
            </div><!-- /.sidebar-widget -->
            <!-- -------------- PriseSlider Filter : end -------- -->

            <!-- -------------- Manufactures Filter ------------- -->
            <div class="sidebar-widget wow fadeInUp">
              <div class="widget-header">
                <h4 class="widget-title">Manufactures</h4>
              </div>
              <div class="sidebar-widget-body">
                <ul class="list">
                  <li><a href="#">Forever 18</a></li>
                  <li><a href="#">Nike</a></li>
                  <li><a href="#">Dolce & Gabbana</a></li>
                  <li><a href="#">Alluare</a></li>
                  <li><a href="#">Chanel</a></li>
                  <li><a href="#">Other Brand</a></li>
                </ul><!--<a href="#" class="lnk btn btn-primary">Show Now</a>-->
              </div><!-- /.sidebar-widget-body -->
            </div><!-- /.sidebar-widget -->
            <!-- ---------- Manufactures Filter : end ----------- -->

            <!-- ---------------- Color Filter ------------------ -->
{#            <div class="sidebar-widget wow fadeInUp">#}
{#              <div class="widget-header">#}
{#                <h4 class="widget-title">Colors</h4>#}
{#              </div>#}
{#              <div class="sidebar-widget-body">#}
{#                <ul class="list">#}
{#                  <li><a href="#">Red</a></li>#}
{#                  <li><a href="#">Blue</a></li>#}
{#                  <li><a href="#">Yellow</a></li>#}
{#                  <li><a href="#">Pink</a></li>#}
{#                  <li><a href="#">Brown</a></li>#}
{#                  <li><a href="#">Teal</a></li>#}
{#                </ul>#}
{#              </div><!-- /.sidebar-widget-body -->#}
{#            </div><!-- /.sidebar-widget -->#}
            <!-- ----------- Color Filter : end ----------------- -->
<!-- ========================================== FILTERS PRODUCTS : END ============================================= -->
<!-- ================================================ COMPARE ====================================================== -->
{#            <div class="sidebar-widget wow fadeInUp outer-top-vs">#}
{#              <h3 class="section-title">Compare products</h3>#}
{#              <div class="sidebar-widget-body">#}
{#                <div class="compare-report">#}
{#                  <p>You have no <span>item(s)</span> to compare</p>#}
{#                </div><!-- /.compare-report -->#}
{#              </div><!-- /.sidebar-widget-body -->#}
{#            </div><!-- /.sidebar-widget -->#}
<!-- ============================================== COMPARE: END =================================================== -->
<!-- ============================================== PRODUCT TAGS =================================================== -->
{#            <div class="sidebar-widget product-tag wow fadeInUp outer-top-vs">#}
{#              <h3 class="section-title">Product tags</h3>#}
{#              <div class="sidebar-widget-body outer-top-xs">#}
{#                <div class="tag-list">#}
{#                    <a class="item" title="Phone" href="category.html">Phone</a>#}
{#                    <a class="item active" title="Vest" href="category.html">Vest</a>#}
{#                    <a class="item" title="Smartphone" href="category.html">Smartphone</a>#}
{#                    <a class="item" title="Furniture" href="category.html">Furniture</a>#}
{#                    <a class="item" title="T-shirt" href="category.html">T-shirt</a>#}
{#                    <a class="item" title="Sweatpants" href="category.html">Sweatpants</a>#}
{#                    <a class="item" title="Sneaker" href="category.html">Sneaker</a>#}
{#                    <a class="item" title="Toys" href="category.html">Toys</a>#}
{#                    <a class="item" title="Rose" href="category.html">Rose</a>#}
{#                </div><!-- /.tag-list -->#}
{#              </div><!-- /.sidebar-widget-body -->#}
{#            </div><!-- /.sidebar-widget -->#}
<!-- ========================================== PRODUCT TAGS : END ================================================= -->

<!-- ============================================== Testimonials =================================================== -->
{#            <div class="sidebar-widget  wow fadeInUp outer-top-vs ">#}
{#              <div id="advertisement" class="advertisement">#}
{#                <div class="item">#}
{#                  <div class="avatar"><img src="{% static "images/testimonials/member1.png" %}" alt="Image"></div>#}
{#                  <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>#}
{#                  <div class="clients_author">John Doe <span>Abc Company</span> </div><!-- /.container-fluid -->#}
{#                </div><!-- /.item -->#}
{#                <div class="item">#}
{#                  <div class="avatar"><img src="{% static "images/testimonials/member3.png" %}" alt="Image"></div>#}
{#                  <div class="testimonials"><em>"</em>Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>#}
{#                  <div class="clients_author">Stephen Doe <span>Xperia Designs</span> </div>#}
{#                </div><!-- /.item -->#}
{#                <div class="item">#}
{#                  <div class="avatar"><img src="{% static "images/testimonials/member2.png" %}" alt="Image"></div>#}
{#                  <div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>#}
{#                  <div class="clients_author">Saraha Smith <span>Datsun &amp; Co</span> </div>#}
{#                  <!-- /.container-fluid -->#}
{#                </div><!-- /.item -->#}
{#              </div><!-- /.owl-carousel -->#}
{#            </div>#}
<!-- ============================================== Testimonials: END ============================================== -->
{#            <div class="home-banner"> <img src="{% static "images/banners/LHS-banner.jpg" %}" alt="Image"> </div>#}

          </div><!-- /.sidebar-filter -->
        </div><!-- /.sidebar-module-container -->
      </div><!-- /.sidebar -->
<!-- ======================================= LEFT SIDE CONTENT : END  ============================================== -->

<!-- ========================================= RIGHT SIDE CONTENT  ================================================= -->
      <div class='col-md-9'>
{#<!-- ======================================= SECTION – HERO(MAIN PICTURE) ========================================== -->#}
{#        <div id="category" class="category-carousel hidden-xs">#}
{#          <div class="item">#}
{#            <div class="image">#}
{#                <img src="{% static "images/banners/cat-banner-1.jpg" %}" alt="" class="img-responsive">#}
{#            </div>#}
{#            <div class="container-fluid">#}
{#              <div class="caption vertical-top text-left">#}
{#                <div class="big-text"> Big Sale </div>#}
{#                <div class="excerpt hidden-sm hidden-md"> Save up to 49% off </div>#}
{#                <div class="excerpt-normal hidden-sm hidden-md"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>#}
{#              </div><!-- /.caption -->#}
{#            </div><!-- /.container-fluid -->#}
{#          </div>#}
{#        </div>#}
{#<!-- =================================== SECTION – HERO(MAIN PICTURE) : END ======================================== -->#}

<!-- ================================================== BIG SLIDER ================================================= -->
        <div id="hero">
          <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

            {% if posters %}
                {% for poster in posters %}
                <a href="{% url 'shop:PosterDetail' poster.id poster.slug %}">
                <div class="item" style="background-image: url({% if poster.image %}{{ poster.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %});background-size: 848px 370px;">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
{#                      <div class="slider-header fadeInDown-1">Купуй сантехніку</div>#}
{#                      <div class="big-text fadeInDown-1"> New Collections </div>#}
{#                      <div class="excerpt fadeInDown-2 hidden-xs"> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span> </div>#}
{#                      <div class="button-holder fadeInDown-3"> <a href="index.php?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>#}
                    </div><!-- /.caption -->
                  </div><!-- /.container-fluid -->
                </div><!-- /.item -->
                </a>
                {% endfor %}
            {% else %}
                <div class="item" style="background-image: url({% static 'images/sliders/01.jpg'%});">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                      <div class="slider-header fadeInDown-1">Літо 2018</div>
                      <div class="big-text fadeInDown-1">Купуй сантехніку <span class="highlight">Сантехніка</span> </div>
                      <div class="excerpt fadeInDown-2 hidden-xs"> <span>Купуй сантехніку та отримуй знижку</span> </div>
                      <div class="button-holder fadeInDown-3"> <a href="index.php?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Купити зараз</a> </div>
                    </div><!-- /.caption -->
                  </div><!-- /.container-fluid -->
                </div><!-- /.item -->
                <div class="item" style="background-image: url({% static 'images/sliders/01.jpg'%});">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                      <div class="slider-header fadeInDown-1">Літо 2018</div>
                      <div class="big-text fadeInDown-1">Купуй сантехніку <span class="highlight">Сантехніка</span> </div>
                      <div class="excerpt fadeInDown-2 hidden-xs"> <span>Купуй сантехніку та отримуй знижку</span> </div>
                      <div class="button-holder fadeInDown-3"> <a href="index.php?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Купити зараз</a> </div>
                    </div><!-- /.caption -->
                  </div><!-- /.container-fluid -->
                </div><!-- /.item -->
            {% endif %}
          </div><!-- /.owl-carousel -->
        </div>
<!-- ================================================= BIG SLIDER : END ============================================ -->

<!-- =========================================== SECTION – PRODUCTS ================================================ -->
        <div class="clearfix filters-container m-t-10">
          <div class="row">

            <div class="col col-sm-6 col-md-3">
              <div class="filter-tabs">
                <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                  <li class="active"> <a data-toggle="tab" href="#grid-container"><i class="icon fa fa-th-large"></i>Плитка</a> </li>
                  <li><a data-toggle="tab" href="#list-container"><i class="icon fa fa-th-list"></i>Список</a></li>
                </ul>
              </div><!-- /.filter-tabs -->
            </div><!-- /.col -->

            <div class="col col-sm-12 col-md-6">

              <div class="col col-sm-3 col-md-6 no-padding">
                <div class="lbl-cnt"> <span class="lbl">Sort by</span>
                  <div class="fld inline">
                    <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                      <button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
                          Position <span class="caret"></span>
                      </button>
                      <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#">position</a></li>
                        <li role="presentation"><a href="#">Price:Lowest first</a></li>
                        <li role="presentation"><a href="#">Price:HIghest first</a></li>
                        <li role="presentation"><a href="#">Product Name:A to Z</a></li>
                      </ul>
                    </div>
                  </div><!-- /.fld -->
                </div><!-- /.lbl-cnt -->
              </div><!-- /.col -->

              <div class="col col-sm-3 col-md-6 no-padding">
                <div class="lbl-cnt"> <span class="lbl">Show</span>
                  <div class="fld inline">
                    <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                      <button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
                          1 <span class="caret"></span>
                      </button>
                      <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#">1</a></li>
                        <li role="presentation"><a href="#">2</a></li>
                        <li role="presentation"><a href="#">3</a></li>
                        <li role="presentation"><a href="#">4</a></li>
                        <li role="presentation"><a href="#">5</a></li>
                        <li role="presentation"><a href="#">6</a></li>
                        <li role="presentation"><a href="#">7</a></li>
                        <li role="presentation"><a href="#">8</a></li>
                        <li role="presentation"><a href="#">9</a></li>
                        <li role="presentation"><a href="#">10</a></li>
                      </ul>
                    </div>
                  </div><!-- /.fld -->
                </div><!-- /.lbl-cnt -->
              </div><!-- /.col -->
            </div><!-- /.col -->

            <div class="col col-sm-6 col-md-3 text-right">
              <div class="pagination-container">
                <ul class="list-inline list-unstyled">
                  {% if products.has_other_pages %}
                        {% if products.has_previous %}
                          <li class="prev">
                              <a href="?page={{ products.previous_page_number }}">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                          </li>
                        {% else %}
                          <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                          {% if products.number == i %}
                            <li class="active"><a>{{ i }}</a><span class="sr-only">(current)</span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                          <li class="next">
                              <a href="?page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                          </li>
                        {% else %}
                          <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}
                  {% else %}
                        <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a>1</a></li>
                        <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                  {% endif %}
                </ul><!-- /.list-inline -->
              </div><!-- /.pagination-container -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div>

        <!-- ---------------- Products Container ------------------ -->
        <div class="search-result-container ">
          <div id="myTabContent" class="tab-content category-list">
            <!-- ------------  Container Puzzle Products  --------------- -->
            <div class="tab-pane active " id="grid-container">
              <div class="category-product">
                <div class="row">
                <!-- ---------------- 1-st product in container  ------------------ -->
                  {% if products %}
                    {% for product in products %}
                          <div class="col-sm-6 col-md-4 wow fadeInUp">
                            <div class="products">
                              <div class="product">
                                <div class="product-image">
                                  <div class="image">
                                      <a href="{{ product.get_absolute_url }}">
                                          <img  src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                                      </a>
                                  </div><!-- /.image -->

                                  <!-- tag_status -->
                                  {% if product.tag_status %}
                                    <div class="tag {{ product.tag_status }}"><span>{{ product.tag_status }}</span></div>
                                  {% endif %}
                                  <!-- tag_status : end -->

                                </div><!-- /.product-image -->

                                <div class="product-info text-left">
                                  <h3 class="name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>

                                    <!-- rating stars -->
                                    {% if product.avg_review == None %}
                                            <span class="stars-avg stars0"></span>
                                        {% else %}
                                        <span class="stars-avg stars{{product.avg_review|floatformat:"0"}}"></span>
                                    {%endif%}
                                    <!-- rating stars : end -->

                                  <div class="description"></div>
                                  <div class="product-price">
                                      <span class="price"> {{ product.price }} грн. </span>
                                      <span class="price-before-discount">$ 800</span>
                                  </div><!-- /.product-price -->
                                </div><!-- /.product-info -->

                                <div class="cart clearfix animate-effect">
                                  <div class="action">
                                    <ul class="list-unstyled">
                                        <li>
                                            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                                {% csrf_token %}
                                                    <div class="hidden" > {#style="display:none;"#}
                                                      {{ cart_product_form.quantity }}
                                                    </div>
                                                <span class="add-cart-button btn-group">
                                                  <button class="btn btn-primary icon" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                                </span>
                                            </form>
                                        </li>

                                        {% if not request.user.is_authenticated %}
                                        <li class="dropdown dropdown-small lnk wishlist" title="Увійдіть, щоб додати">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" style="cursor: not-allowed; /*  курсор в виде стрелки */">
                                                <span class="value">
                                                    <i class="icon fa fa-heart"></i>
                                                </span>
                                            </a>
                                          <ul class="dropdown-menu text-center" style="background: black">
                                            <li class="col-md-12 text-center" style="padding: 0px !important;margin: 0px!important;">
                                                <p style="margin: 0px!important;"><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                                <p style="color: gainsboro; margin: 0px!important;">або</p>
                                                <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                                            </li>
                                          </ul>
                                        </li>
                                        {% else %}
                                        <li class="lnk wishlist">
                                            <a class="add-to-cart" href="{% url "wishlist:WishListAdd" product.id %}" title="Wishlist">
                                              <i class="icon fa fa-heart"></i>
                                            </a>
                                        </li>
                                        {% endif %}

                                        <li class="lnk">
                                          <a class="add-to-cart" href="detail.html" title="Compare">
                                              <i class="fa fa-signal"></i>
                                          </a>
                                        </li>
                                    </ul>
                                  </div><!-- /.action -->
                                </div><!-- /.cart -->
                              </div><!-- /.product -->
                            </div><!-- /.products -->
                          </div><!-- /.item -->
                      {% endfor %}
                  {% endif %}
                <!-- -------------- 1-st product in container : end ---------------- -->
                </div><!-- /.row -->
              </div><!-- /.category-product -->
            </div><!-- /.tab-pane -->
            <!-- ----------  Container Puzzle Products : end  ------------- -->

            <!-- --------------  Container List Products  ----------------- -->
            <div class="tab-pane "  id="list-container">
              <div class="category-product">
                <!-- ---------------- 1-st product in container  ------------------ -->
                  {% if products %}
                    {% for product in products %}
                        <div class="category-product-inner wow fadeInUp">
                          <div class="products">
                            <div class="product-list product">
                              <div class="row product-list-row">
                                <div class="col col-sm-4 col-lg-4">
                                  <div class="product-image">
                                    <div class="image">
                                        <a href="{{ product.get_absolute_url }}">
                                          <img  src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                                        </a>
                                    </div>
                                  </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-sm-8 col-lg-8">
                                  <div class="product-info">
                                    <h3 class="name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>

                                    <!-- rating stars -->
                                    {% if product.avg_review == None %}
                                            <span class="stars-avg stars0"></span>
                                        {% else %}
                                        <span class="stars-avg stars{{product.avg_review|floatformat:"0"}}"></span>
                                    {%endif%}
                                    <!-- rating stars : end -->

                                    <div class="product-price">
                                        <span class="price"> {{ product.price }} грн. </span>
                                        <span class="price-before-discount">$ 800</span>
                                    </div><!-- /.product-price -->
                                    <div class="description m-t-10">Suspendisse posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida eget, lacinia id purus. Suspendisse posuere arcu diam, id accumsan eros pharetra ac. Nulla enim risus, facilisis bibendum gravida eget.</div>
                                    <div class="cart clearfix animate-effect">
                                      <div class="action">
                                        <ul class="list-unstyled">
                                            <li>
                                            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                                {% csrf_token %}
                                                    <div class="hidden" > {#style="display:none;"#}
                                                      {{ cart_product_form.quantity }}
                                                    </div>
                                                <span class="add-cart-button btn-group">
                                                  <button class="btn btn-primary icon" data-toggle="dropdown" type="submit"> <i class="fa fa-shopping-cart"></i> </button>
                                                  <button class="btn btn-primary cart-btn" type="submit">Додати в корзину</button>
                                                </span>
                                            </form>
                                            </li>

                                          {% if not request.user.is_authenticated %}
                                              <li class="dropdown dropdown-small lnk wishlist" title="Увійдіть, щоб додати">
                                                  <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" style="cursor: not-allowed; /*  курсор в виде стрелки */">
                                                      <span class="value">
                                                          <i class="icon fa fa-heart"></i>
                                                      </span>
                                                  </a>
                                                <ul class="dropdown-menu text-center" style="background: black">
                                                  <li class="col-md-12 text-center" style="padding: 0px !important;margin: 0px!important;">
                                                      <p style="margin: 0px!important;"><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                                      <p style="color: gainsboro; margin: 0px!important;">або</p>
                                                      <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                                                  </li>
                                                </ul>
                                              </li>
                                          {% else %}
                                              <li class="lnk wishlist"> <a class="add-to-cart" href="{% url 'wishlist:WishListAdd' product.id %}" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                          {% endif %}

                                          <li class="lnk"> <a class="add-to-cart" href="detail.html" title="Compare"> <i class="fa fa-signal"></i> </a> </li>
                                        </ul>
                                      </div><!-- /.action -->
                                    </div><!-- /.cart -->

                                  </div><!-- /.product-info -->
                                </div><!-- /.col -->
                              </div><!-- /.product-list-row -->

                                <!-- tag_status -->
                                {% if product.tag_status %}
                                      <div class="tag {{ product.tag_status }}"><span>{{ product.tag_status }}</span></div>
                                {% endif %}
                                <!-- tag_status : end -->

                            </div><!-- /.product-list -->
                          </div><!-- /.products -->
                        </div><!-- /.category-product-inner -->
                    {% endfor %}
                  {% endif %}
                <!-- -------------- 1-st product in container : end ---------------- -->
              </div><!-- /.category-product -->
            </div><!-- /.tab-pane #list-container -->
          <!-- -----------  Container List Products : end --------------- -->

          </div><!-- /.tab-content -->
          <!-- ----------- Pagination Products Container ---------------- -->
          <div class="clearfix filters-container">
            <div class="text-right">
              <div class="pagination-container">
                <ul class="list-inline list-unstyled">
                    {% if products.has_other_pages %}
                        {% if products.has_previous %}
                          <li class="prev">
                              <a href="?page={{ products.previous_page_number }}">
                                  <i class="fa fa-angle-left"></i>
                              </a>
                          </li>
                        {% else %}
                          <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                          {% if products.number == i %}
                            <li class="active"><a>{{ i }}</a><span class="sr-only">(current)</span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                          <li class="next">
                              <a href="?page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                          </li>
                        {% else %}
                          <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}
                    {% else %}
                        <li class="prev" ><a><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a>1</a></li>
                        <li class="next" ><a><i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul><!-- /.list-inline -->
              </div><!-- /.pagination-container -->
            </div><!-- /.text-right -->
          </div><!-- /.filters-container -->
        <!-- -------- Pagination Products Container : end ---------- -->
        </div><!-- /.search-result-container -->
      <!-- ----------- Products Container : end ---------------- -->
      </div><!-- /.col -->
<!-- ======================================= RIGHT SIDE CONTENT : END  ============================================= -->
    <br><br><br><br>
    </div><!-- /.row -->
  <br><br><br><br>
{#<!-- ================================================ BRANDS CAROUSEL ============================================== -->#}
{#<div id="brands-carousel" class="logo-slider wow fadeInUp">#}
{##}
{#		<div class="logo-slider-inner">#}
{#			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">#}
{#				<div class="item m-t-15">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand1.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item m-t-10">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand2.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand3.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand4.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand5.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand6.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand2.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand4.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand1.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{##}
{#				<div class="item">#}
{#					<a href="#" class="image">#}
{#						<img data-echo="{% static "images/brands/brand5.png" %}" src="{% static "images/blank.gif" %}" alt="">#}
{#					</a>#}
{#				</div><!--/.item-->#}
{#		    </div><!-- /.owl-carousel #logo-slider -->#}
{#		</div><!-- /.logo-slider-inner -->#}
{##}
{#</div><!-- /.logo-slider -->#}
{#<!-- ============================================= BRANDS CAROUSEL : END =========================================== -->#}
  </div><!-- /.container -->
</div><!-- /.body-content -->
<!-- ============================================== CONTENT : END ================================================== -->
{% endblock %}