{# базовий шаблон base.html від якого буде наслідуватися list.html и detail.html:  #}
{# {% load static %} - дозволяє Django, загружати статичні файли із директорії #}
{#додатку, тобто shop. #}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="Master, Shop, Instruments">
    <meta name="robots" content="all">
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
{#    <link rel="stylesheet" href="{% static "css/style.css" %}">#}

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/blue.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.transitions.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/rateit.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">

    <link rel="stylesheet" href="{% static "css/rating-stars.css" %}">

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="cnt-home">

<!-- ==================================================== HEADER =================================================== -->
<header class="header-style-1">
<!-- =================================================== TOP MENU ================================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
{#            <li><a href="#"><i class="icon fa fa-user"></i>My Account</a></li>#}
{#            <li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>#}
{#            <li><a href="#"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>#}
{#            <li><a href="#"><i class="icon fa fa-check"></i>Checkout</a></li>#}
{#            <li><a href="#"><i class="icon fa fa-lock"></i>Login</a></li>#}
            {% if not request.user.is_authenticated %}
                <li><a href="."><i class="icon fa fa-user"></i>Привіт(Госте)</a></li>
                <!--  Wish list -->
                <li class="dropdown dropdown-small">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                        <span class="value">
                            <i class="icon fa fa-heart"></i> Список бажань
                        </span>
                    </a>
                    <ul class="col-md-12 dropdown-menu">
                        <li class="col-md-12" style="padding-left: 0 !important;">
                            <div class="col-md-12 text-center text-danger" style="font-size: 13px">
                                <p><a href="{% url 'auth:LoginUser' %}">Увійдіть</a></p>
                                <p>або</p>
                                <p><a href="{% url 'auth:RegisterUser' %}">Зареєструйтесь</a></p>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--  Wish list : end -->
                <li><a href="{% url 'cart:CartDetail' %}"><i class="icon fa fa-shopping-cart"></i>Мій Кошик</a></li>
                <li><a href="{% url 'auth:LoginUser' %}"><i class="icon fa fa-lock"></i>Ввійти</a></li>
            {% else %}
                <li class="dropdown dropdown-small">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                        <span class="value">
                            <i class="icon fa fa-user"></i> Привіт({{ request.user }})
                        </span><b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'auth:ProfileUser' %}">Мій кабінет</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'wishlist:WishListView' %}"><i class="icon fa fa-heart"></i>Список бажань</a></li>
                <li><a href="{% url 'cart:CartDetail' %}"><i class="icon fa fa-shopping-cart"></i>Мій Кошик</a></li>
                <li><a href="{% url 'auth:LogoutUser' %}"><i class="icon fa fa-lock"></i>Вийти</a></li>
            {% endif %}
          </ul>
        </div><!-- /.cnt-account -->
        <div class="clearfix"></div>
      </div><!-- /.header-top-inner -->
    </div><!-- /.container -->
  </div><!-- /.header-top -->
<!-- ============================================= TOP MENU : END ================================================== -->

  <div class="main-header">
    <div class="container">
      <div class="row">
<!-- ================================================ LOGO ========================================================= -->
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
          <div class="logo"> <a href="{% url "shop:HomePage" %}"> <img src="{% static "images/logo1.jpg" %}" alt="logo"> </a> </div>
        </div>
<!-- ============================================= LOGO : END ====================================================== -->
<!-- ============================================ SEARCH AREA ====================================================== -->
          <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
          <div class="search-area">
            <form action="{% url 'search:SearchView' %}" method="GET" accept-charset="utf-8">
              <div class="control-group">
{#                  <a href="{% url 'shop:ProductList' %}">#}
                <ul class="categories-filter animate-dropdown">
                   <li class="dropdown">
                       <a class="dropdown-toggle text-center"  data-toggle="dropdown" href="{% url 'shop:ProductList' %}">
                        <a  style="padding-left: 0px;" href="{% url 'shop:ProductList' %}">КАТЕГОРІЇ</a><b class="caret" style="margin-right: 20px;"></b>
                       </a>
{#                    <ul class="dropdown-menu" role="menu" >#}
{#                      <li class="menu-header">Computer</li>#}
{#                      <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Clothing</a></li>#}
{#                      <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Electronics</a></li>#}
{#                      <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Shoes</a></li>#}
{#                      <li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- Watches</a></li>#}
{#                    </ul>#}
                  </li>
                </ul>
{#                      </a>#}
{#                <form action="{% url 'search:SearchView' %}" method="get" accept-charset="utf-8">#}
                    <input type="text" class="search-field" placeholder="Шукати тут..." name="q" />
                    <button type="submit" class="search-button" href="#" ></button>
{#                </form>#}
              </div>
            </form>
          </div>
        </div>
<!-- ======================================== SEARCH AREA : END ==================================================== -->
<!-- ====================================== SHOPPING CART DROPDOWN ================================================= -->
          <!-- Кнопка кошика -->
          <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
          {% with total_items=cart|length %}
          <div class="dropdown dropdown-cart">
            <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
              <div class="items-cart-inner">
                <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                    {% if cart|length > 0 %}
                        <div class="basket-item-count"><span class="count">{{ total_items }}</span></div>
                        <div class="total-price-basket"> <span class="lbl">Кошик -</span> <span class="total-price"> <span class="value">{{ cart.get_total_price }}</span> <span class="sign">грн</span> </span> </div>
                    {% else %}
                        <div class="basket-item-count"><span class="count">0</span></div>
                        <div class="total-price-basket"> <span class="lbl">Кошик -</span> <span class="total-price"> <span class="value">0</span> <span class="sign">грн</span> </span> </div>
                    {% endif %}
              </div>
            </a>
            <!-- Випадаюче меню для кнопки кошика -->
            <ul class="dropdown-menu">
              <li>
                <div class="cart-item product-summary">
                  <div class="row">
                      {% if cart|length > 0 %}
                          {% for item in cart %}
                            {% with product=item.product %}
                                <div class="col-xs-4">
                                  <div class="image"> <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a> </div>
                                </div>
                                <div class="col-xs-7">
                                    <h3 class="name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                    <h3 class="name">Кількість: {{ item.quantity }}</h3>
                                    <div class="price">{{ item.price }} грн.</div>
                                </div>
                                <div class="col-xs-1 action"> <a href="{% url "cart:CartRemove" product.id %}"><i class="fa fa-trash"></i></a> </div>
                                <div class="clearfix"></div>
                                <hr>
                            {% endwith %}
                          {% endfor %}
                      {% else %}
                         <div class="col-xs-offset-4">
                            <h3 class="name">Кошик пустий</h3>
                         </div>
                         <div class="clearfix"></div>
                         <hr>
                      {% endif %}
                  </div>
                </div>
                <!-- Загальна сумма кошика -->
                <div class="clearfix cart-total">
                  {% if cart|length > 0 %}
                    <div class="pull-right"> <span class="text">Cумма :</span><span class='price'>{{ cart.get_total_price }} грн.</span> </div>
                  {% else %}
                    <div class="pull-right"> <span class="text">Загальна сумма :</span><span class='price'>0 грн.</span> </div>
                  {% endif %}
                  <div class="clearfix"></div>
                  <a href="{% url "cart:CartDetail" %}" class="btn btn-upper btn-primary btn-block m-t-20">Перейти до коршика</a>
                </div>
              </li>
            </ul>
          </div>
          {% endwith %}
         </div>
<!-- ========================================= SHOPPING CART DROPDOWN : END========================================= -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.main-header -->



<!-- ================================================== NAVBAR ===================================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown yamm-fw"> <a href="{% url "shop:HomePage" %}"><!--data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown"-->Головна</a> </li>
                <li class="dropdown yamm mega-menu"> <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Блог</a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content ">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Men</h2>
                            <ul class="links">
                              <li><a href="#">Dresses</a></li>
                              <li><a href="#">Shoes </a></li>
                              <li><a href="#">Jackets</a></li>
                              <li><a href="#">Sunglasses</a></li>
                              <li><a href="#">Sport Wear</a></li>
                              <li><a href="#">Blazers</a></li>
                              <li><a href="#">Shirts</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Women</h2>
                            <ul class="links">
                              <li><a href="#">Handbags</a></li>
                              <li><a href="#">Jwellery</a></li>
                              <li><a href="#">Swimwear </a></li>
                              <li><a href="#">Tops</a></li>
                              <li><a href="#">Flats</a></li>
                              <li><a href="#">Shoes</a></li>
                              <li><a href="#">Winter Wear</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Boys</h2>
                            <ul class="links">
                              <li><a href="#">Toys & Games</a></li>
                              <li><a href="#">Jeans</a></li>
                              <li><a href="#">Shirts</a></li>
                              <li><a href="#">Shoes</a></li>
                              <li><a href="#">School Bags</a></li>
                              <li><a href="#">Lunch Box</a></li>
                              <li><a href="#">Footwear</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->

                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Girls</h2>
                            <ul class="links">
                              <li><a href="#">Sandals </a></li>
                              <li><a href="#">Shorts</a></li>
                              <li><a href="#">Dresses</a></li>
                              <li><a href="#">Jwellery</a></li>
                              <li><a href="#">Bags</a></li>
                              <li><a href="#">Night Dress</a></li>
                              <li><a href="#">Swim Wear</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->

                          <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="{% static "images/banners/top-menu-banner.jpg" %}" alt=""> </div>
                          <!-- /.yamm-content -->
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown mega-menu">
                <a href="category.html"  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Гарячі товари<span class="menu-label hot-menu hidden-xs">hot</span> </a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Laptops</h2>
                            <ul class="links">
                              <li><a href="#">Gaming</a></li>
                              <li><a href="#">Laptop Skins</a></li>
                              <li><a href="#">Apple</a></li>
                              <li><a href="#">Dell</a></li>
                              <li><a href="#">Lenovo</a></li>
                              <li><a href="#">Microsoft</a></li>
                              <li><a href="#">Asus</a></li>
                              <li><a href="#">Adapters</a></li>
                              <li><a href="#">Batteries</a></li>
                              <li><a href="#">Cooling Pads</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->

                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Desktops</h2>
                            <ul class="links">
                              <li><a href="#">Routers & Modems</a></li>
                              <li><a href="#">CPUs, Processors</a></li>
                              <li><a href="#">PC Gaming Store</a></li>
                              <li><a href="#">Graphics Cards</a></li>
                              <li><a href="#">Components</a></li>
                              <li><a href="#">Webcam</a></li>
                              <li><a href="#">Memory (RAM)</a></li>
                              <li><a href="#">Motherboards</a></li>
                              <li><a href="#">Keyboards</a></li>
                              <li><a href="#">Headphones</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->

                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Cameras</h2>
                            <ul class="links">
                              <li><a href="#">Accessories</a></li>
                              <li><a href="#">Binoculars</a></li>
                              <li><a href="#">Telescopes</a></li>
                              <li><a href="#">Camcorders</a></li>
                              <li><a href="#">Digital</a></li>
                              <li><a href="#">Film Cameras</a></li>
                              <li><a href="#">Flashes</a></li>
                              <li><a href="#">Lenses</a></li>
                              <li><a href="#">Surveillance</a></li>
                              <li><a href="#">Tripods</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Mobile Phones</h2>
                            <ul class="links">
                              <li><a href="#">Apple</a></li>
                              <li><a href="#">Samsung</a></li>
                              <li><a href="#">Lenovo</a></li>
                              <li><a href="#">Motorola</a></li>
                              <li><a href="#">LeEco</a></li>
                              <li><a href="#">Asus</a></li>
                              <li><a href="#">Acer</a></li>
                              <li><a href="#">Accessories</a></li>
                              <li><a href="#">Headphones</a></li>
                              <li><a href="#">Memory Cards</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="#"><img alt="" src="{% static "images/banners/banner-side.png" %}"></a> </div>
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.yamm-content --> </li>
                  </ul>
                </li>
                <li class="dropdown hidden-sm"> <a href="category.html">Нові товари <span class="menu-label new-menu hidden-xs">new</span> </a> </li>
                <li class="dropdown hidden-sm"> <a href="category.html">Професіоналам</a> </li>
                <li class="dropdown"> <a href="{% url 'shop:BrandList' %}">Бренди</a> </li>
                <li class="dropdown"> <a href="{% url 'shop:About' %}">Про магазин</a> </li>
                <li class="dropdown"> <a href="{% url 'shop:Contacts' %}">Контакти</a> </li>
                <li class="dropdown"> <a href="{% url 'shop:Guarantee' %}">Гарантія</a> </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Сторінки</a>
                  <ul class="dropdown-menu pages">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-menu">
                            <ul class="links">
                              <li><a href="{% url "shop:HomePage" %}">Головна</a></li>
                              <li><a href="{% url "shop:ProductList" %}">Категорії</a></li>
{#                              <li><a href="{% url "shop:ProductDetail" %}">Деталі</a></li>#}
                              <li><a href="{% url "cart:CartDetail" %}">Кошик</a></li>
                              <li><a href="{% url "wishlist:WishListView" %}">Список бажань</a></li>
                              <li><a href="{% url 'shop:About' %}">Про Магазин</a></li>
                              <li><a href="{% url 'shop:Contacts' %}">Blog Detail</a></li>
                              <li><a href="{% url 'shop:Guarantee' %}">Контакти</a></li>
                              <li><a href="{% url 'auth:LoginUser' %}">Вхід</a></li>
                              <li><a href="{% url 'auth:RegisterUser' %}">Реєстрація</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer -->
          </div>
          <!-- /.navbar-collapse -->

        </div>
        <!-- /.nav-bg-class -->
      </div>
      <!-- /.navbar-default -->
    </div>
    <!-- /.container-class -->

  </div>
  <!-- /.header-nav -->
<!-- =============================================== NAVBAR : END ================================================== -->

</header>
<!-- =============================================== HEADER : END ================================================== -->

{#  <section id="content row" class="container">#}
    {% block content %}{% endblock %}
{#  </section>#}

<!-- =============================================== FOOTER ======================================================== -->
<footer id="footer" class="footer color-bg">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Наші контакти</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class="toggle-footer" style="">
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body">
                  <p>Україна 43020, Волинська обл., м.Луцьк, вул.Рівненьська 80а</p>
                </div>
              </li>
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body">
                  <p>+(0332) 75-08-18<br>
                    +(0332) 45-67-89</p>
                </div>
              </li>
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body"> <span><a href="#">master@gmail.com</a></span> </div>
              </li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Сервіси користувача</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a href="#" title="Contact us">My Account</a></li>
              <li><a href="#" title="About us">Order History</a></li>
              <li><a href="#" title="faq">FAQ</a></li>
              <li><a href="#" title="Popular Searches">Specials</a></li>
              <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Corporation</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a title="Your Account" href="#">About us</a></li>
              <li><a title="Information" href="#">Customer Service</a></li>
              <li><a title="Addresses" href="#">Company</a></li>
              <li><a title="Addresses" href="#">Investor Relations</a></li>
              <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Why Choose Us</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
              <li><a href="#" title="Blog">Blog</a></li>
              <li><a href="#" title="Company">Company</a></li>
              <li><a href="#" title="Investor Relations">Investor Relations</a></li>
              <li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-bar">
    <div class="container">
      <div class="col-xs-12 col-sm-6 no-padding social">
        <ul class="link">
          <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
          <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
          <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
          <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
          <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
          <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
          <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 no-padding">
        <div class="clearfix payment-methods">
          <ul>
            <li><img src="{% static "images/payments/1.png" %}" alt=""></li>
            <li><img src="{% static "images/payments/2.png" %}" alt=""></li>
            <li><img src="{% static "images/payments/3.png" %}" alt=""></li>
            <li><img src="{% static "images/payments/4.png" %}" alt=""></li>
            <li><img src="{% static "images/payments/5.png" %}" alt=""></li>
          </ul>
        </div>
        <!-- /.payment-methods -->
      </div>
    </div>
  </div>
</footer>
<!-- ============================================ FOOTER : END====================================================== -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-hover-dropdown.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/echo.min.js" %}"></script>
<script src="{% static "js/jquery.easing-1.3.min.js" %}"></script>
<script src="{% static "js/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/jquery.rateit.min.js" %}"></script>
<script src="{% static "js/lightbox.min.js" %}"></script>
<script src="{% static "js/bootstrap-select.min.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>

</body>
</html>
