/* https://codepen.io/BlackShabat/pen/pJZooM */
/* https://habr.com/post/262833/ */

.star-rating{
	font-size: 0px;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 3rem; /* size stars */
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 5px;
	cursor: pointer;
	color: #FFB300;   /* color stars */
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}


/*--------------------result rating ---------------*/
.stars-avg {
    font: normal normal normal 15px/1.8 FontAwesome;
    color: #FFB300;
    letter-spacing: .2em

}
.stars-avg.stars0:after{
	content: "\f006\f006\f006\f006\f006\(0/5)";
}
.stars-avg.stars1:after{
	content: "\f005\f006\f006\f006\f006\(1/5)";
}
.stars-avg.stars2:after{
	content: "\f005\f005\f006\f006\f006\(2/5)";
}
.stars-avg.stars3:after{
	content: "\f005\f005\f005\f006\f006\(3/5)";
}
.stars-avg.stars4:after{
	content: "\f005\f005\f005\f005\f006\(4/5)";
}
.stars-avg.stars5:after{
	content: "\f005\f005\f005\f005\f005\(5/5)";
}





